/* BODY,HTML
--------------------------------------------------------------------------------------*/

html,
body {
    width: 100%;
    background-color: #000;
    overflow: hidden;
}

html {
    -webkit-text-size-adjust: 100%;
}



a:focus,
a:visited,
a:active,
span:active {
    background: transparent;
    outline: none;
    outline-offset: none;
    // color: transparent;
    // border: none;
}



/* 架構
--------------------------------------------------------------------------------------*/

.wrapper {
    width: 100%;
    position: relative;

}

.sec {
    width: 100%;
    position: relative;
}

.container {
    max-width: 1920px;
    width: 100%;
    margin: auto;
    position: relative;
    padding: 0;
}

.flex {
    display: flex;
}


/* 共用
--------------------------------------------------------------------------------------*/

.sectitle {
    width: 95%;
    max-width: 269px;
    margin: auto;
    margin-bottom: 45px;

    @include media(w1160) {
        width: 42%;
    }

    @include media(w768) {
        width: 70%;
        max-width: 100%;
    }
}

/* header
--------------------------------------------------------------------------------------*/

.myheader {
    position: relative;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    background: #666;
    height: 50px;

    @include media(w768) {
        height: 14vw;
        background: #f4f4f4;
    }
}

.intro {



    .main_nav {
        width: 100%;
        position: relative;
        padding-top: 10%;
        margin: 0 auto;

        ul {
            position: relative;
            width: 100%;
            margin: 0 auto;
            height: 200px;
            display: flex;

            li {
                position: relative;
                width: auto;
                margin: 0 auto;

                &:nth-child(1){
                     transform: translateX(384%);
                }
                 &:nth-child(2){
                     transform: translateX(192%);
                }
                 &:nth-child(4){
                     transform: translateX(-192%);
                }
                 &:nth-child(5){
                     transform: translateX(-384%);
                }
            }

            a {
                background-color: #fff;
                border-radius: 100px;
                font-size: 50px;
                font-weight: bold;
                height: 200px;
                width: 200px;
                margin: auto;
                color: #000;
                text-align: center;
                vertical-align: middle;
                line-height: 4;

                // &:hover {
                //     background-color: #333;
                //     color: #fff;
                // }
            }
        }


        &.ready {

            ul {
                display: flex;

                li {
                    position: relative;
                    width: auto;
                }

                a {
                    position: relative;
                }
            }

        }

    }

    .name {
        color: #fff;
        font-size: 100px;
        text-align: center;
        margin-top: 5%;
    }

}



.sec {
    margin-top: 2.5%;

    @include media(w768) {
        margin-top: 10%;
    }

    .btnbox {
        display: flex;
        text-align: center;
        justify-content: center;


        @include media(w768) {
            margin-left: 0;
            // left: 13%;
            // bottom: 11%;
        }

        .bt {
            width: 35%;
            height: 50px;
            margin: 0 20px;

            @include media(w768) {
                width: 50%;
                height: 50px;
                margin: auto;
            }
        }

        .bt2 {
            width: 35%;
            height: 50px;
            margin: 0 20px;

            @include media(w768) {
                width: 45%;
                height: 50px;
                margin: 0 10px;
            }
        }

        .btn,
        .btn2 {
            outline: none;
            overflow: hidden;
            padding: 8px 3px;
            // border-radius: 30px;
            letter-spacing: 2px;
            margin: 0 20px;
            color: #fff;

            @include media(w768) {
                padding: mob(10) mob(5);
            }

            span {
                position: relative;
                font-weight: bold;
                font-size: 16px;
                color: #000;
                padding-bottom: 1%;
                border-bottom: 2px #000 solid;

                @include media(w768) {
                    padding: mob(9) mob(50);
                    font-size: mob(35);

                }
            }

            &.on {
                padding: 8px 0px;
                border-radius: 30px;
                background-color: #000;
                color: #fff;

                @include media(w768) {

                    padding: mob(8) mob(0);
                }

                span {
                    color: #fff;
                    padding: 10px 20px;

                }
            }

            &:hover {
                padding: 8px 0px;
                border-radius: 30px;
                background-color: #000;
                color: #fff;

                @include media(w768) {

                    padding: mob(11) mob(3);
                }

                span {
                    color: #fff;
                    padding: 10px 20px;

                }

            }
        }

        .btn2 {

            padding: 2px 3px;
            margin: 0;

            &:hover {
                padding: 3px 4px;

                span {
                    font-size: 18px;
                    padding: 4px 0;


                    @include media(w768) {
                        font-size: 4vw;
                        padding: 3px 0px;
                    }
                }
            }

            span {
                padding: 3px 12px;
                padding-top: 5px;

                display: inline-block;
                width: 100%;

                @include media(w768) {
                    font-size: 3.5vw;
                    padding: 3px 0px;
                }
            }
        }
    }
}


/* lightbox
--------------------------------------------------------------------------------------*/

.lb {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.8);
    z-index: -1;
    opacity: 0;
    display: flex;
}

.lbbox {
    width: 65%;
    max-width: 1200px;
    margin: auto;
    position: relative;

    // height: 500px;
    // background: red;
    @include media(w768) {
        width: 90%;
    }

    .btn_x {
        width: 40px;
        position: absolute;
        top: -50px;
        right: -50px;
        cursor: pointer;

        @include media(w1366) {
            top: 0;
            right: -60px;
        }

        @include media(w768) {
            width: mob(40);
            top: -8vw;
            right: 0;
        }
    }
}

.videoWrapper {
    position: relative;
    padding-bottom: 54.2%;
    /* 16:9 */
    padding-top: 25px;
    height: 0;
}

.videoWrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}