@font-face {
    font-family: 'DFHsiuW3-B5';
    src: url('../font/DFHsiu-W3-WIN-BF.woff2') format('woff2'),
        url('../font/DFHsiu-W3-WIN-BF.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}