/* BODY,HTML
--------------------------------------------------------------------------------------*/

html,
body {
    width: 100%;
    background: #fff;
    font-family: $font-stack;
    overflow-x: hidden;
}

html {
    -webkit-text-size-adjust: 100%;
}


#static_footer {
    line-height: 1.5;

    .gb-footer-2019__sitemap-items .gb-footer-2019__item-list li {
        line-height: 1.75;
    }
}

a:visited,
a:active {
    background: transparent;
}

input,
button,
select {
    appearance: auto !important;
}

.SamsungSharpSans {
    font-family: "SamsungSharpSansn", "微軟正黑體", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "新細明體", "蘋果儷黑體", Verdana, sans-serif;
}






/* 架構
--------------------------------------------------------------------------------------*/

.wrapper {
    width: 100%;
    position: relative;
    background-image: url('../images/all_bg.jpg');
    background-repeat: repeat;
    background-position: center;

    a:focus {
        outline: 0;
    }

    @include media(w1366) {}

    @include media(w768) {
        background-image: url('../images/m/all_bg.jpg');
        background-size: contain;
    }
}

.section {
    width: 100%;
    position: relative;
    background-repeat: no-repeat;
    background-position: center top;
    background-size: auto 100%;

    // margin-bottom: 80px;
    // @include media(w1366) {
    //     margin-bottom: win(80);
    // }
    @include media(w768) {}
}

.container {
    width: 92.5%;
    max-width: 1225px;
    margin: auto;
    position: relative;
    padding: 0;

    @include media(w768) {
        width: 100%;
    }
}

.secbox {
    width: 100%;
    max-width: 1225px;
    margin: auto;
    position: relative;
}

.inner {
    // width: 58.125%;
    width: 92.5%;
    max-width: 1116px;
    margin: auto;
    position: relative;

    @include media(w768) {
        width: 100%;
    }
}

.flex {
    display: flex;
}

.overflow {
    overflow: hidden;
}

.sidebtn {
    width: 190px;
    position: fixed;
    top: 50%;
    right: 13%;
    z-index: 10;
    overflow: hidden;
    
    cursor: pointer;

    @include media(w1680) {
        right: 3vw;
    }

    @include media(w1366) {
        width: 15vw;
        top: 30vw;
        right: win(10);
    }

    @include media(w768) {
        width: 25vw;
        top: 108vw;
        right: -4.5vw;
    }

    .box{
        position: relative;
        width: 4560px;
        animation: btnplay 3s steps(23) infinite alternate;

        @keyframes btnplay {
            0% {
                transform: translateX(-4370px)
            }

            100% {
                transform: translateX(0);
            }
        }

        @include media(w1366) {
            width: 15vw * 24;

            @keyframes btnplay {
                0% {
                    transform: translateX(-15vw * 23);
                }
    
                100% {
                    transform: translateX(0);
                }
            }
        }

        @include media(w768) {
            width: 25vw * 24;

            @keyframes btnplay {
                0% {
                    transform: translateX(-25vw * 23);
                }
    
                100% {
                    transform: translateX(0);
                }
            }
        }
       
       
    }
}

.slick-dotted.slick-slider {
    margin-bottom: 0;
}

.slick-dots {
    li {
        button:before {
            display: none;
        }

        width: 12px;
        height: 12px;
        background-color: transparent;
        border-radius: 50%;
        border: 1px solid #ee8c8e;
        margin: 0 10px;
        z-index: 1;

        @include media(w768) {
            width: mob(20);
            height: mob(20);
            margin: 0 1.5vw;
        }

        &.slick-active {
            background-color: #ee8c8e;
        }
    }
}

.slick-arrow {
    width: 40px;
    height: 179px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100% auto;

    &:before {
        display: none;
    }

    &.slick-prev {
        background-image: url('../images/arrow_l.png');
        left: -6%;

        &:hover {
            left: -7%;
        }
    }

    &.slick-next {
        background-image: url('../images/arrow_r.png');
        right: -6%;

        &:hover {
            right: -7%;
        }
    }

    @include media(w1366) {
        width: win(40);
        height: win(179);
    }

    @include media(w768) {
        width: mob(33);
        height: mob(150);
    }
}

.btnbox {
    width: 100%;
    position: absolute;
    text-align: center;
    left: 0;

    .bt {
        display: inline-block;
        color: #fff;
        font-size: 18px;
        font-weight: bold;
        position: relative;
        margin: 0 -5px;
        letter-spacing: 3px;

        @include media(w1366) {
            font-size: win(19);
            margin: 0 win(-5);
        }

        @include media(w768) {
            font-size: mob(35);
            margin: 0 1.5vw 0vw;
        }

        &._pc {
            display: inline-block;

            @include media(w768) {
                display: none;
            }
        }

        &._m {
            display: none;

            @include media(w768) {
                display: inline-block;
            }
        }

        span {
            display: block;
            position: absolute;
            top: 40%;
            left: 0;
            width: 100%;
            z-index: 1;

            @include media(w1280) {
                top: 38%;
            }

            @include media(w768) {
                top: 4.3vw;
            }
        }

        &:after,&::before {
            content: "";
            display: block;
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            background-repeat: no-repeat;
            background-position: center top;
            background-size: 100% auto;
            opacity: 0;

            @include media(w768) {
                display: none;
            }
        }

        &.style1 {
            max-width: 193px;

            &:after {
                background-image: url('../images/btn_sm/1.png');
            }

            &:before {
                background-image: url('../images/btn_sm/2.png');
            }

            @include media(w1366) {
                max-width: win(193);
            }

            @include media(w768) {
                max-width: 99999px;
                width: 38vw;
                // margin: 0 -1.5vw;
            }
        }

        &.style2 {
            max-width: 330px;

            &:after {
                background-image: url('../images/btn_lg/1.png');
            }

            &:before {
                background-image: url('../images/btn_lg/2.png');
            }

            @include media(w1366) {
                max-width: win(330);
            }

            @include media(w768) {
                max-width: 99999px;
                width: mob(640);
            }
        }

        &.style3 {
            max-width: 350px;

            &:after {
                background-image: url('../images/btn_bg_ovr3.png');
            }

            @include media(w1366) {
                max-width: win(350);
            }

            @include media(w768) {
                max-width: mob(645);

            }
        }

        &:hover {
            img {
                opacity: 0;
            }

            span {
                text-shadow: #fff 0px 0px 3px;

                @include media(w768) {
                    text-shadow: none;
                }
            }

            &:after, &:before {
                opacity: 1;
            }

            &:after{
             
                animation: btnch 0.5s steps(1) infinite;

                @keyframes btnch {
                    0% {
                        opacity: 0;
                    }

                    50% {
                        opacity: 1;
                    }
                }
            }
        }

        @include media(w768) {
            &:hover {
                img {
                    opacity: 1;
                }
            }
        }
    }
}







/* header
--------------------------------------------------------------------------------------*/

.myheader {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 999;
    background-color: #c31e2b;

    @include media(w768) {
        background-image: url('../images/m/icon.jpg');
        background-repeat: no-repeat;
        background-size: 100%;
        background-position:0% 0%;
    }

    .ribbon {
        width: 26.4574%;
        position: absolute;
        top: 0;
        right: -15%;
        transition: all .1s ease;
    }

    &.fixed {
        position: fixed;

        @include media(w768) {
            box-shadow: none;
        }

        .ribbon {
            width: 22%;
            top: -5%;
            transition: all .1s ease;
        }
    }
}

.mynav {
    display: flex;
    justify-content: center;
    overflow: hidden;

    // display: none;
    @include media(w768) {
        flex-wrap: wrap;
        padding: 25vw 0;
        margin-bottom: 10vw;
        display: none;
    }

    li {
        position: relative;
        width: 200px;
        text-align: center;

        @include media(w1366) {
            width: win(250);
        }

        @include media(w768) {
            width: 100%;
            text-align: center;
            overflow: hidden;
            margin-bottom: 3vw;

            &:last-child {
                margin-bottom: 0;
            }
        }

        &:after {
            content: "";
            display: block;
            width: 120%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 50%;
            margin-left: -60%;
            background: rgb(255, 255, 255);
            background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(250, 16, 25, 1) 30%, rgba(250, 34, 42, 1) 83%, rgba(255, 255, 255, 0) 100%);
            opacity: 0;

            @include media(w768) {
                width: 100%;
                left: 0;
                margin-left: 0;

                }
        }

        &:hover {
            &:after {
                opacity: 1;
            }

            a {
                text-shadow: #fff 0 0 7px;
                transition: all .5s ease;
            }
        }

        &.select {
            &:after {
                opacity: 1;
            }

            a {
                text-shadow: #ffea00 0 0 7px;
               
            }
        }
    }

    a {
        position: relative;
        z-index: 5;
        color: #fff;
        font-size: 16px;
        font-weight: bold;
        padding: 15px 35px 15px;
        position: relative;

        @include media(w1366) {
            font-size: win(20);
            letter-spacing: 1px;
            padding: win(15) win(35) win(15);
        }

        @include media(w768) {
            font-size: mob(42);
            padding: 8vw;
        }

        &:after {
            content: "";
            display: block;
            width: 1px;
            height: 40%;
            position: absolute;
            top: 28%;
            right: 0;
            background: #fff;
            opacity: 0.3;

            @include media(w768) {
                display: none;
            }
        }
    }

    .finger {
        width: 46px;
        position: absolute;
        right: 5px;
        bottom: -30px;
    }
}

.burger {
    width: mob(47);
    position: absolute;
    top: 3vw;
    left: 3vw;

    .line {
        width: 100%;
        height: 15%;
        background-color: #000;
        position: absolute;

        &:nth-child(2) {
            top: 0;
            left: 0;
            transform-origin: center;
            transition: top 0.35s, left 0.35s, width 0.35s, opacity 0.35s;
        }

        &:nth-child(3),
        &:nth-child(4) {
            top: 50%;
            transform: translateY(-50%);
            transform-origin: center;
            transition: transform 0.35s;
        }

        &:nth-child(5) {
            bottom: 0;
            left: 0;
            transform-origin: center;
            transition: bottom 0.35s, left 0.35s, width 0.35s, opacity 0.35s;
        }
    }

    &.isclick {
        .line {
            background-color: #fff;

            &:nth-child(2),
            &:nth-child(5) {
                width: 0;
                opacity: 0;
                left: 50%;
            }

            &:nth-child(2) {
                top: 50%;
            }

            &:nth-child(5) {
                bottom: 50%;
            }

            &:nth-child(3) {
                transform: rotateZ(-45deg);
            }

            &:nth-child(4) {
                transform: rotateZ(45deg);
            }
        }
    }
}

.sec {


    @include media(w768) {
    margin-top: 3%;

    }

    .title {
        position: absolute;
        width: 100%;
        top: 0;

        @include media(w1280) {
            transform: translateY(-0.5vw);
        }

        @include media(w768) {
            top: -1.5%;
            transform: none;
        }

        p {
            font-size: 31px;
            background-image: url('../images/tit_mov.png');
            background-repeat: no-repeat;
            background-position: 99% 0;
            background-size: 82%;
            text-align: center;
            line-height: 1.3;
            padding: 39px 0 125px 0;
            font-weight: bold;
            font-family: 'SamsungSharpSansb','SamsungOneb';

            @include media(w1366) {
                padding: win(40) 0 win(125) 0;
            }

            @include media(w1280) {
                padding: win(39) 0 win(125) 0;
                font-size:win(32);
            }

            @include media(w768) {
                background-image: url('../images/m/tit_mov.png');
                padding: 5.4vw 0 11vw 0;
                font-size:mob(35);
                background-position: 100% 0;
                background-size: 90%;
                letter-spacing: 0;
            }

            span {
                line-height: 1;
                letter-spacing: 5px;
                font-family: 'SamsungOneb';

                @include media(w768) {
                letter-spacing: 3px;
                }
            }

        }

    }

    .container {
        background-position: center 3%, center 99%;
        background-size: 100%;
        background-repeat: no-repeat;

        &.bg1 {
            background-image: url('../images/frame_pc_lg/1.png'), url('../images/frame_pc_lg/3.png');

            &::before {
                background-image: url('../images/frame_pc_lg/2.png'), url('../images/frame_pc_lg/4.png');
            }
        }

        &.bg2 {
            background-image: url('../images/frame_pc_md/1.png'), url('../images/frame_pc_md/3.png');

            &::before {
                background-image: url('../images/frame_pc_md/2.png'), url('../images/frame_pc_md/4.png');
            }
        }

        &.bg3 {
            background-image: url('../images/frame_pc_sm/1.png'), url('../images/frame_pc_sm/3.png');

            &::before {
                background-image: url('../images/frame_pc_sm/2.png'), url('../images/frame_pc_sm/4.png');
            }
        }

        @include media(w768) {
            padding: 3% 0 1.5% 0;
            background-image: url('../images/m/frame_m/1.png'), url('../images/m/frame_m/3.png') !important;
            background-position: center top, center bottom;

            &::before {
                background-image: url('../images/m/frame_m/2.png'), url('../images/m/frame_m/4.png') !important;
                background-position: center top, center bottom;
                top: 0;
            }
        }

    }

    .icon {
        width: auto;
        position: absolute;


        &.clound {

            @include media(w1366) {
                width: 10%;
            }

            @include media(w768) {
                width:18vw;
            }

            &::before {
                opacity: 0;
                background-image: url('../images/clound/2.png');
            }
        }

        &.fan {

            @include media(w1366) {
                width: 18%;
            }

            @include media(w768) {
                width:26vw;
            }

            &::before {
                opacity: 0;
                background-image: url('../images/fan/2.png');
            }

        }

        &.money {

            @include media(w1366) {
                width: 9.5%;
            }

            @include media(w768) {
                width:14vw;
            }

            &::before {
                opacity: 0;
                background-image: url('../images/money/2.png');
            }

        }

        &.redbox {

            @include media(w1366) {
                width: 9.5%;
            }

            @include media(w768) {
                width:17vw;
            }

            &::before {
                opacity: 0;
                background-image: url('../images/redbox/2.png');
            }

        }
    }

    &.playani {

        .container {
            &::before {
                content: '';
                width: 100%;
                background-size: 100%;
                animation: bgplay 0.2s steps(2) 2;
                background-repeat: no-repeat;
                background-position: center 3%, center 99%;
                position: absolute;
                height: 100%;

                @keyframes bgplay {
                    0% {
                        opacity: 0;
                    }

                    50% {
                        opacity: 1;
                    }
                }

                @include media(w768) {
                    background-size: 99%;
                    background-position: center top, center bottom;
                }
            }

        }

        .title {
            p {
                animation: pplay 1s steps(6) 2 forwards;
                background-position: 99% 100%;

                @keyframes pplay {
                    0% {
                        background-position: 99% 0%;
                    }

                    50% {
                        background-position: 99% 100%;
                    }
                }
            }
        }

        .icon {

            &::before {
                content: '';
                width: 100%;
                background-size: 100%;
                animation: iconplay 0.2s steps(2) 2 forwards;
                animation-delay: 1s;
                background-repeat: no-repeat;
                background-position: center;
                position: absolute;
                height: 100%;

                @keyframes iconplay {
                    0% {
                        opacity: 0;
                    }

                    50% {
                        opacity: 1;
                    }

                    100% {
                        opacity: 1;
                    }
                }
            }
        }
    }

    &.sec3{
        .title {
            top: -5px;

            @include media(w768) {
                top: -1%;
            }
        }

        .container {
            background-position: center 2%, center 97%;

            &::before {
                background-position: center 2%, center 97%;
            }

            @include media(w768) {
                padding-bottom: 2.5%;
                background-position: center top, center bottom;
                &::before {
                    background-position: center top, center bottom;
                }
            }
        }
    }

    &.sec4{
    
        .container {
            @include media(w768) {
                padding-bottom: 2.5%;
            }
        }
    }

   
    &.sec5 {
        .title {
            top: -5px;
            span{
                line-height: 1.2;

                @include media(w768) {
                    letter-spacing: 0;
                    }
            }

            @include media(w768) {
                top: -1%;
            }
        }

        .container {
            background-position: center 2%, center 97%;

            &::before {
                background-position: center 2%, center 97%;
            }

            @include media(w768) {
                background-position: center top, center bottom;
                &::before {
                    background-position: center top, center bottom;
                }
            }
        }

       
    }

    &.sec6 {
        .title {
            top: -5px;

            span{
                line-height: 1.2;
            }

            @include media(w768) {
                top: -3%;
            }
        }

        .container {
            background-position: center 4%, center 80%;

            &::before {
                background-position: center 4%, center 80%;
            }

            @include media(w768) {
                padding-bottom: 1%;
                background-position: center top, center bottom;
                &::before {
                    background-position: center top, center bottom;
                }
            }
        }
    }

    &.sec7 {

        .title {
            span{
                line-height: 1.2;
            }
        }

        .container {
            background-position: center 5%, center 97%;

            &::before {
                background-position: center 5%, center 97%;
            }

            @include media(w768) {
                background-position: center top, center bottom;
                &::before {
                    background-position: center top, center bottom;
                }
            }
        }
    }
}







/* sec1
--------------------------------------------------------------------------------------*/

.sec1 {
    margin-bottom: 0;

    .kv {
        height: 640px;
        background-repeat: no-repeat;
        background-position: center 40%;
        background-size:100%;
        position: relative;

        &.kv1 {
            background-image: url('../images/kv_1.png');

            @include media(w768) {
              
                background: none;
            }
        }

        > img {
            display: none;

            @include media(w768) {
                display: block;
            }
        }

        .maintitle{
            position: absolute;
            width: 28%;
            max-width: auto;
            left: 51.7%;
            top: 20%;

            @include media(w1280) {
                left: 53.5%;
                width: 30%;
            }

            @include media(w768) {
                width: 100%;
                left: 0;
                top: 5%;
            }

            &::before {
                content: '';
                width: 100%;
                background-size: 100%;
                background-repeat: no-repeat;
                background-position: center 3%, center 99%;
                position: absolute;
                height: 100%;
                background-image: url('../images/KV_title/2.png');
                background-position: center top, center bottom;
                top: 0;
                animation: titplay 1s steps(2) infinite forwards;
                animation-delay: 3s;

                @keyframes titplay {
                    0% {
                        opacity: 0;
                    }

                    25% {
                        opacity: 1;
                    }

                    100% {
                        opacity: 1;
                    }
                }
            }

            

        }

        @include media(w1680) {
            height: win(500);
            background-position: center 30%;
        }

        @include media(w1366) {
            height: win(530);
        }

        @include media(w1280) {
            background-size: 120%;
        }

        @include media(w768) {
            height: auto;
        }
    }

    .btnbox {
        bottom: 5%;
        left: 0;
        background-image: url('../images/kv_btn_bg.png');
        background-repeat: no-repeat;
        background-position: center center;

        @include media(w1366) {
            bottom: 1%;
            background-size: 150%;
        }

        @include media(w768) {
            background-image: url('../images/m/kv_btn_bg.png');
            background-position: center bottom;
            bottom: -1%;
            background-size: 100%;
            padding-bottom: 5%;
        }

        .bt{
            &.style2{
                letter-spacing: 1px;
            }
        }
    }

}

/* sec2
--------------------------------------------------------------------------------------*/

.sec2 {

    @include media(w768) {
      margin-top: 5%;
    }

    .btnbox {
        bottom: 8%;

        @include media(w768) {
            bottom: 4%;
        }
    }

    .boxtop {
        width: 45.789%;
        max-width: 511px;
        position: absolute;
        top: -6%;
        right: -35%;
        transform: translate3d(-15%, -5%, 0);
    }

    .icon {
        &.money {
            left: 13%;
            @include media(w768) {
                left: 5%;
                top: -1.2%;
            }
        }

        &.clound {
            bottom: 5%;
            left: 1.2%;

            @include media(w768) {
                bottom: 2%;
                left: -1.5%;
            }
        }
    }


    &.playani {
        .icon {
            &.clound {
                &::before {
                    animation-delay: 3s;
                }
            }
        }
    }
}




/* sec3
--------------------------------------------------------------------------------------*/

.sec3 {

    .btnbox {
        bottom: 9%;

        @include media(w768) {
            left: 0%;
            bottom: 4%;
        }
    }

    .icon {
        &.money {
           
            @include media(w768) {
                left: 5%;
                top: -1.2%;
            }
        }

        &.fan {
            bottom: 0;
            right: 0;
        }

        &.clound {
            top: 5%;
            left: 1.2%;

            @include media(w768) {
                bottom: 2.5%;
                left: -1.5%;
                top: auto;
            }
        }
    }


    &.playani {
        .icon {
            &.fan {
                &::before {
                    animation-delay: 3s;
                }
            }
        }
    }
}



/* sec4
--------------------------------------------------------------------------------------*/

.sec4 {
    .btnbox {
        bottom: 8%;

        @include media(w768) {
            bottom: 4.5%;
        }
    }

    .icon {
        &.money {
            left: 13%;

            @include media(w768) {
                left: 5%;
                top: -1.2%;
            }
        }

        &.clound {
            bottom: 6%;
            left: 1.2%;

            @include media(w768) {
                bottom: 3.3%;
                left: -1.5%;
            }
        }
    }


    &.playani {
        .icon {
            &.clound {
                &::before {
                    animation-delay: 3s;
                }
            }
        }
    }
}



/* sec5
--------------------------------------------------------------------------------------*/

.sec5 {
    .btnbox {
        bottom: 6%;

        @include media(w768) {
            bottom: 2.9%;
        }

        &.p1 {
            bottom: 41.5%;

            @include media(w768) {
                bottom: 47.7%;
            }
        }
    }

    .icon {
        &.money {
            left: 2%;
            top: 10%;

            @include media(w768) {
                left: 5%;
                top: -0.6%;
            }
        }

        &.clound {
            bottom: 5%;
            left: 0%;

            @include media(w768) {
                bottom: 2.1%;
                left: -1.5%;
            }
        }

        &.redbox {
            bottom: 5%;
            right: 0.5%;
        }
    }

    &.playani {
        .icon {

            &.redbox,
            &.clound {
                &::before {
                    animation-delay: 4s;
                }
            }
        }
    }
}



/* sec6
--------------------------------------------------------------------------------------*/

.sec6 {
    .btnbox {
        bottom: 20%;

        @include media(w768) {
            bottom:11.5%;
        }
    }

    .icon {

        &.money {
            @include media(w768) {
                left: 5%;
                top: -0.6%;
            }
        }

        &.fan {
            right: 0%;
            bottom: 0%;
        }

        &.clound {
            bottom: 17%;
            left: 1.2%;

            @include media(w768) {
                bottom: 5%;
                left: -1.5%;
            }
        }
    }


}




/* sec7
--------------------------------------------------------------------------------------*/

.sec7 {

   

    .btnbox {
        bottom: 16%;

        .bt {
            margin: 0 5.2%;

            @include media(w768) {
               width: 100%;
               margin-top: 60%;
               padding: 0 25%;

               span{
                   top: 4.8vw;
               }
            }
        }

        @include media(w768) {
            bottom: 5%;
            display: flex;
            flex-wrap: wrap;
        }
    }

    .icon {
        &.money {
            left: 13%;
            top: 0%;
            @include media(w768) {
                left: 5%;
                top: -0.6%;
            }
        }

        &.clound {
            bottom: 10%;
            left: 1.1%;

            @include media(w768) {
                bottom:3.5%;
                left: -1.5%;
            }
        }
    }
}



/* sec8
--------------------------------------------------------------------------------------*/

.sec8 {
    margin-top: 40px;
    margin-bottom: 80px;

    @include media(w1366) {
        margin-bottom: win(80);
    }

    @include media(w768) {
        margin-top: 5vw;
        margin-bottom: 10vw;
    }

    .inner {
        max-width: 1200px;
    }

    .btnbox {
        position: relative;

        @include media(w768) {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
        }

        .bt {
            font-size: 28px;
            margin: 0 -15px;
            letter-spacing: 5px;

            @include media(w1366) {
                font-size: win(28);
                margin: 0 win(-15);
            }

            @include media(w768) {
                font-size: mob(34);
                font-weight: bold;
                margin: 0 2vw;

                &:nth-child(2) {
                    order: 3;
                }

                &:nth-child(3) {
                    order: 2;
                }
            }

            span {
                top: 39%;

                @include media(w768) {
                    top: 34%;
                }
            }

            &.style1 {
                max-width: 320px;
                width: 320px;

                @include media(w1366) {
                    width: win(320);
                }

                @include media(w768) {
                    width: 41vw;
                }
            }

            &.style2 {
                max-width: 520px;
                width: 520px;
                letter-spacing: 2px;

                @include media(w1366) {
                    width: win(530);
                }

                @include media(w768) {
                    width: 85vw;
                }
            }
        }
    }
}

/* sec9
--------------------------------------------------------------------------------------*/

.sec9 {
    margin-bottom: 80px;

    @include media(w1366) {
        margin-bottom: win(80);
    }

    @include media(w768) {
        margin-bottom: 10vw;
    }

    .inner {
        max-width: 1200px;
        padding: 0 4%;

        @include media(w1366) {
            padding: 0;
            max-width: win(1200);
        }

        @include media(w768) {
            padding: 0%;
        }
    }

    .title {
        display: flex;
        margin-bottom: 20px;

        @include media(w768) {
            margin-bottom: 3vw;
        }

        p {
            font-size: 20px;
            color: #fff;
            font-weight: bold;
            letter-spacing: 10px;
            margin-right: 20px;

            @include media(w768) {
                font-size: mob(24);
                margin-right: 2vw;
                letter-spacing: 1.5vw;
            }
        }

        span {
            display: block;
            position: relative;
            flex: 1;

            &:after {
                content: "";
                display: block;
                width: 100%;
                height: 1px;
                background-color: #9a9b9c;
                position: absolute;
                left: 0;
                top: 50%;
            }
        }
    }

    .txt {
        font-size: 14px;
        color: #fff;
        line-height: 1.5;

        @include media(w768) {
            font-size: mob(22);
        }
    }

    .link {
        display: inline;
        color: #00c6ff;
        text-decoration: underline;
        margin-left: 10px;

        &:hover {
            text-decoration: none;
        }

        @include media(w768) {
            margin-left: 1vw;
        }
    }
}


/* sec10
--------------------------------------------------------------------------------------*/

.sec10 {
    .btnbox {
        bottom: 24%;

        .bt{
            color:#fff9b2 ;
        }

        &.b1{
            bottom: 4%;

            .bt{
                margin: 0 6.6%;

                &:first-child{

                    @include media(w768) {
                        margin-bottom: 44%;
                    }
    
                }
            }

            @include media(w768) {
                bottom: 2.8%;
            }
    
        }

        @include media(w768) {
            bottom: 126vw
        }


    }

    .icon {
       
        &.clound {
            bottom: 3.5%;
            left: 1.5%;

            @include media(w768) {
                bottom: 2%;
                left: -1.5%;
            }
        }

        &.fan {
            bottom: -2%;
            right: -3%;

            @include media(w768) {
                bottom: -1.5%;
               
            }
        }
    }

    .main{
        position: absolute;
        top: 3%;
        width: 100%;
    }

    &.playani {
        .icon {

            &.redbox,
            &.clound {
                &::before {
                    animation-delay: 4s;
                }
            }
        }
    }
}



/* lightbox
--------------------------------------------------------------------------------------*/

.lb {
    // display: none;
    z-index: -1;
    opacity: 0;
    position: relative;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.8);
    text-align: center;

    &.lb_1 {

        .btnbox {
            bottom: 8%;
            left: -1.5%;

            .bt{
                color: #fff9b2;
            }

            @include media(w768) {
                bottom: 7.2%;
            }
        }
    }

    &.lb_2 {
        .plus {
            width: 26.2%;
            max-width: 193px;
            position: absolute;
            top: 54.1%;
            right: -11%;

            @include media(w768) {
                width: 16.5vw;
                right: 0;
                top: 61.6vw;
            }
        }

        .btnbox {
            bottom: 7.5%;
            left: -2%;

            .bt{
                color: #fff9b2;
            }

            @include media(w768) {
                bottom: 7%;
            }
        }
    }
}

.lbbox {
    width: 100%;
    max-width: 700px;
    margin: auto;
    position: relative;
    display: inline-block;
    vertical-align: middle;
    box-sizing: border-box;
    margin-top: 8%;

    @include media(w1366) {
        max-width: win(700);
        margin-top: 8%;
    }

    @include media(w1280) {
        margin-top: 10vw;
        max-width: win(800);
    }

    @include media(w768) {
        width: 98%;
        max-width:98%;
        margin-top: 25%;
    }

    .btn_x {
        width: 75px;
        position: absolute;
        top: -3%;
        right: 0%;
        cursor: pointer;

        &:hover{
            transform:rotate(180deg);
            transition: transform .5s;
        }

        @include media(w1366) {
            width: win(80);
            top: -3%;
            right: 0%;
        }

        @include media(w768) {
            width: mob(86);
            right: 1vw;
            top: -5vw;
        }
    }
}

.backtop2 {
    width: 100%;
    background: #fff;
    text-align: right;
    padding: 15px 0;

    @include media(w768) {
        text-align: center;
    }

    p {
        display: inline-block;
        font-size: 13px;
        color: #000;
        cursor: pointer;

        @include media(w768) {
            font-size: mob(22);
        }

        &:after {
            display: inline-block;
            content: '';
            width: 12px;
            height: 8px;
            margin-top: -4px;
            margin-left: 5px;
            background: url('../images/btn-gotop2.svg') center center/100% 100% no-repeat;
            vertical-align: middle;
        }
    }
}