@font-face {
    font-family: 'chungtf';
    src: url('../font/chungtf-monospaced.ttf') format('woff2'),
        url('../font/chungtf-proportional.ttf') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

// @font-face {
//     font-family: 'chungtf';
//     src: url('../font/chungtf-proportional.ttf') format('woff');
//     font-weight: normal;
//     font-style: normal;
//     font-display: swap;
// }