
/* 含糖計算機 
------------------------------------------------------------------------------*/

.calculate{
    .title{
        text-align: center;
        margin-bottom: 20px;
        @include media(w1366) {
            margin-bottom: winsize(20);
        }
        .icon,span{
            display: inline-block;
            vertical-align: middle;
        }
        .icon{
            width: 52px;
            margin-right: 5px;
            @include media(w1366) {
                width: winsize(52);
                margin-right: winsize(5);
            }
            @include media(w768) {
                width: mobsize(85);
            }
        }
        span{
            font-size: 20px;
            color: #683a08;
            font-weight: bold;
            line-height: 1.5;
            @include media(w1366) {
                font-size: winsize(20);
            }
            @include media(w768) {
                font-size: mobsize(30);
                text-align: left;
                line-height: 1.3;
            }
        }
    }
    .con{
        background-image: url('../images/calculate_bg.jpg');
        background-position: center top;
        background-size: 100% auto;
        background-repeat: no-repeat;
        background-color: #f3eee8;
        padding: 0 22px 22px;
        @include media(w1366) {
            padding: 0 winsize(22) winsize(22);
            background: none;
        }
        @include media(w768) {
            padding: 0;
            width: 91.5%;
            margin: auto;
            margin-top: 5vw;
        }
        .box{
            background: #f8f0e4;
            border: 1px solid #4e4e4d;
            border-top: none;
            padding: 0 22px 22px;
            @include media(w1366) {
                padding: 0 winsize(22) winsize(22);
            }
            @include media(w768) {
                background-color: #f8f0e4;
                padding: 0 3vw 3vw;
            }
        }
    }
    .ps{
        font-size: 14px;
        color: #5e5e5e;
        line-height: 1.5;
        @include media(w1366) {
            font-size: winsize(14);
        }
        @include media(w768) {
            font-size: mobsize(26)
        }
    }
    &.count{ 
        .form{
            @include media(w768) {
                margin-top: 4vw;
            }
            .info{
                display: flex;
                margin-bottom: 20px;
                @include media(w1366) {
                    margin-bottom: winsize(20);
                }
                @include media(w768) {
                    flex-wrap: wrap;
                    margin-bottom: 3vw;
                }
                .one{
                    width: 49%;
                    display: flex;
                    align-items:center;
                    @include media(w768) {
                        width: 100%;
                    }
                    &:first-child{
                        margin-right: 2%;
                        @include media(w768) {
                            margin-right: 0;
                            margin-bottom: 2.5vw;
                        }
                    }
                    p,input{
                        line-height: 1.5;
                        font-size: 18px;
                        @include media(w1366) {
                            font-size: winsize(18);
                        }
                        @include media(w768) {
                            font-size: mobsize(30);
                        }
                    }
                    p{   
                        font-weight: bold;
                        color: #000;
                        margin-right: 10px;
                        @include media(w1366) {
                            margin-right: winsize(10);
                        }
                        @include media(w768) {
                            margin-right: 2vw;
                        }
                    }
                    input{
                        border-radius: 5px;
                        border: 1px solid #4e4e4d;
                        background: #fff; 
                        padding: 8px 10px;
                        flex: 1;
                        @include media(w1366) {
                            border-radius: winsize(5);
                            padding: winsize(8) winsize(10);
                        }
                        @include media(w768) {
                            border-radius: 1vw;
                            border: .3vw solid #4e4e4d;
                            padding: 1vw 2vw;
                        }
                    }
                }
            }
            .category{
                width: 49%;
                &:first-child{ margin-right: 2%; }
                &._left{ float: left;}
                &._right{ float: right;}
                @include media(w768) {
                    width: 100%;
                    &:first-child{ margin-right: 0; }
                    &._left{ float: none;}
                    &._right{ float: none;}
                }
                .item{
                    border-radius: 5px;
                    border: 1px solid #4e4e4d;
                    background: #fff;
                    box-shadow: inset 0px -3px 0px 0px #d2d2d2;
                    margin-bottom: 20px;
                    @include media(w1366) {
                        border-radius: winsize(5);
                        box-shadow: inset 0px winsize(-3) 0px 0px #d2d2d2;
                        margin-bottom: winsize(20);
                    }
                    @include media(w768) {
                        border-radius: 1vw;
                        box-shadow: inset 0px -.8vw 0px 0px #d2d2d2;
                        margin-bottom: 2vw;
                    }
                    .sub{
                        color: #000;
                        font-size: 18px;
                        line-height: 1.5;
                        text-align: center;
                        font-weight: bold;
                        padding: 10px 0;
                        border-radius: 5px;
                        cursor: pointer;
                        position: relative;
                        transition: background .2s ease;
                        @include media(w1366) {
                            font-size: winsize(18);
                            padding: winsize(10) 0;
                            border-radius: winsize(5);
                        }
                        @include media(w768) {
                            font-size: mobsize(30);
                            border-radius: 1vw;
                            padding: 1.8vw 0;
                        }
                        &:after{
                            content: "";
                            display: block;
                            width: 29px;
                            height: 29px;
                            background-image: url('../images/calculate_icon_1.svg');
                            background-repeat: no-repeat;
                            background-size: 100% auto;
                            background-position: center top;
                            position: absolute;
                            top: 8px;
                            right: 4%;
                            transition: background .2s ease;
                            @include media(w1366) {
                                width: winsize(29);
                                height: winsize(29);
                                top: winsize(8);
                            }
                            @include media(w768) {
                                width: mobsize(40);
                                height: mobsize(40);
                                top: 2vw;
                            }
                        }
                    }
                    .list{
                        display: none;
                    }
                    ul{
                        padding: 15px;
                        display: flex;
                        flex-wrap: wrap;
                        padding-bottom: 0;
                        @include media(w1366) {
                            padding: winsize(15);
                        }
                        @include media(w768) {
                            padding: 2vw;
                        }
                        li{
                            width: 32%;
                            margin-right: 2%;
                            background: #f2f2f2;
                            color: #000;
                            font-size: 16px;
                            text-align: center;
                            border-radius: 30px;
                            padding: 12px 0;
                            cursor: pointer;
                            margin-bottom: 15px;
                            &:nth-child(3n){
                                margin-right: 0;
                            }
                            &:hover{
                                background: #e0e0e0;
                            }
                            &.select{
                                background: #ffdc1b;
                                font-weight: bold;
                            }
                            @include media(w1366) {
                                font-size: winsize(16);
                                border-radius: winsize(30);
                                padding: winsize(12) 0;
                                margin-bottom: winsize(15);
                            }
                            @include media(w768) {
                                width: 49%;
                                font-size: mobsize(28);
                                border-radius: 5vw;
                                padding: 2vw 0;
                                margin-bottom: 2vw;
                                &:nth-child(3n){
                                    margin-right: 2%;
                                }
                                &:nth-child(2n){
                                    margin-right: 0;
                                }
                            }
                        }
                    }
                    &.open{
                        .sub{
                            background: #fe5919;
                            color: #fff;
                            border-bottom-right-radius: 0;
                            border-bottom-left-radius: 0;
                            transition: background .2s ease;
                            &:after{
                                background-image: url('../images/calculate_icon_2.svg');
                                transition: background .2s ease;
                            }
                        }
                        // .list{
                        //     display: block;
                        // }
                    }
                }
            }  
            .btn_go{
                background: #fe5919;
                color: #fff;
                font-weight: bold;
                font-size: 18px;
                border-radius: 30px;
                border: 1px solid #4e4e4d;
                box-shadow: inset 0px -4px 0px 0px #C43700;
                text-align: center; 
                padding: 18px 0;
                width: 160px;
                margin: 15px auto 25px; 
                @include media(w1366) {
                    font-size: winsize(18);
                    border-radius: winsize(30);
                    box-shadow: inset 0px winsize(-4) 0px 0px #C43700;
                    padding: winsize(18) 0;
                    width: winsize(160);
                    margin: winsize(15) auto winsize(25); 
                }
                @include media(w768) {
                    font-size: mobsize(30);
                    width: 38%;
                    border-radius: 5vw;
                    padding: 2.8vw 0;
                    box-shadow: inset 0px -0.8vw 0px 0px #C43700;
                    margin: 5vw auto 5.5vw; 
                }
                &:hover{
                    box-shadow: inset 0px -3px 0px 0px #C43700;
                    position: relative;
                    top: 1px;
                    filter: brightness(1.1);
                    @include media(w1366) {
                        box-shadow: inset 0px winsize(-3) 0px 0px #C43700;
                    }
                    @include media(w768) {
                        box-shadow: inset 0px -0.8vw 0px 0px #C43700;
                    }
                }
            }
        }
    }
    &.result{
        .title{
            span{
                @include media(w768) {
                    font-size: mobsize(40);
                }
            }
        }
        .inner{
            display: flex;
            align-items: flex-start;
            margin-bottom: 30px;
            @include media(w1366) {
                margin-bottom: winsize(30);
            }
            @include media(w768) {
                flex-wrap: wrap;
            }
            .side{
                width: 48.5%;
                &:first-child{
                    margin-right: 3%;
                }
                @include media(w768) {
                    width: 100%;
                    &:first-child{
                        margin-right: 0;
                    }
                }
            }
        }
        .candycan{
            height: 300px;
            position: relative;
            @include media(w1366) {
                height: winsize(300);
            }
            @include media(w768) {
                height: auto;
                margin-top: -19vw;
            }
            .can{
                width: 217%;
                position: absolute;
                top: -42%;
                left: -5.5%;
                @include media(w768) {
                    position: relative;
                    top: auto;
                    left: auto;
                    width: 107.3%;
                    margin-left: -3vw;
                }
            }
            .txtbox{
                position: absolute;
                top: 37.5%;
                left: 10%;
                text-align: center;
                width: 30%;
                @include media(w768) {
                    width: 47%;
                    left: 27%;
                    top: 47%;
                }
                .num{
                    p,span{
                        display: inline-block;
                        vertical-align: baseline;
                    }
                    p{
                        font-size: 75px;
                        color: #fe5919;
                        font-weight: 800;
                        // text-stroke: 3px #fff;
                        // -webkit-text-stroke: 3px #fff;
                        text-shadow: -3px -3px 0 #fff, 3px -3px 0 #fff,-3px 3px 0 #fff, 3px 3px 0 #fff;
                        @include media(w1366) {
                            font-size: winsize(75);
                            text-shadow: winsize(-3) winsize(-3) 0 #fff, winsize(3) winsize(-3) 0 #fff,winsize(-3) winsize(3) 0 #fff, winsize(3) winsize(3) 0 #fff;
                        }
                        @include media(w768) {
                            font-size: mobsize(100);
                            text-shadow: -.5vw -.5vw 0 #fff, .5vw -.5vw 0 #fff,-.5vw .5vw 0 #fff, .5vw .5vw 0 #fff;
                        }
                    }
                    span{
                        font-size: 26px;
                        color: #683a08;
                        font-weight: 800;
                        @include media(w1366) {
                            font-size: winsize(26);
                        }
                        @include media(w768) {
                            font-size: mobsize(34);
                        }
                    }
                }
                .txt{
                    color: #683a08;
                    font-size: 24px;
                    font-weight: bold;
                    margin-top: 5px;
                    @include media(w1366) {
                        font-size: winsize(24);
                        margin-top: winsize(5);
                    }
                    @include media(w768) {
                        font-size: mobsize(33);
                        margin-top: 1vw;
                    }
                }
            }
        }
        .total{
            background: #fff;
            border-radius: 10px;
            padding: 15px;
            text-align: center;
            position: relative;
            z-index: 1;
            @include media(w1366) {
                border-radius: winsize(10);
                padding: winsize(15);
            }
            @include media(w768) {
                margin-top: -18vw;
                border-radius: 2vw;
                padding: 2.5vw;
                margin-bottom: 6vw;
            }
            .subtitle{
                margin-bottom: 15px;
                @include media(w1366) {
                    margin-bottom: winsize(15);
                }
                @include media(w768) {
                    margin-bottom: 4vw;
                }
                .icon,p{
                    display: inline-block;
                }
                .icon{
                    width: 20px;
                    @include media(w1366) {
                        width: winsize(20);
                    }
                    @include media(w768) {
                        width: mobsize(35);
                    }
                }
                p{
                    font-size: 22px;
                    color: #333333;
                    font-weight: bold;
                    @include media(w1366) {
                        font-size: winsize(22);
                    }
                    @include media(w768) {
                        font-size: mobsize(36);
                    }
                    span{
                        color: #fe5919;
                    }
                    font{
                        font-size: 32px;
                        font-weight: bolder;
                        @include media(w1366) {
                            font-size: winsize(32)
                        }
                        @include media(w768) {
                            font-size: mobsize(53);
                        }
                    }
                }
            }
            .sub{
                position: relative;
                margin-bottom: 10px;
                @include media(w1366) {
                    margin-bottom: winsize(10);
                }
                @include media(w768) {
                    margin-bottom: 2vw;
                    font-weight: bold;
                }
                span{
                    display: inline-block;
                    background: #fff;
                    padding: 0 10px;
                    font-size: 14px;
                    color: #333333;
                    position: relative;
                    z-index: 2;
                    @include media(w1366) {
                        padding: 0 winsize(10);
                        font-size: winsize(14);
                    }
                    @include media(w768) {
                        font-size: mobsize(24);
                        padding: 0 2vw;
                    }
                }    
                &:after{
                    content: "";
                    display: block;
                    width: 100%;
                    height: 1px;
                    background: #333333;
                    position: absolute;
                    top: 50%;
                    left: 0;
                }
            }
            .txt{
                font-size: 14px;
                color: #333333;
                line-height: 1.5;
                @include media(w1366) {
                    font-size: winsize(14);
                }
                @include media(w768) {
                    font-size: mobsize(24);
                    font-weight: bold;
                }
            }
        }
        .tabulation{
            position: relative;
            z-index: 1;
            @include media(w768) {
                margin-bottom: 4vw;
            }
            table{
                font-weight: bold;
                text-align: center;
                width: 100%;
                line-height: 1.5;
                font-size: 16px;
                color: #333333;
                @include media(w1366) {
                    font-size: winsize(16);
                }
                @include media(w768) {
                    font-size: mobsize(28);
                }
                tr{
                    &:nth-child(odd){
                        background: #fff;
                        td{ border-right: 1px solid #f0f0f0; }
                    }
                    &:nth-child(even){
                        background: #f2f2f2;
                        td{ border-right: 1px solid #e4e4e4; }
                    }
                    &:last-child{
                        td{
                            &:first-child{
                                border-bottom-left-radius: 10px;
                                @include media(w1366) {
                                    border-bottom-left-radius: winsize(10);
                                }
                                @include media(w768) {
                                    border-bottom-left-radius: 2vw;
                                }
                            }
                            &:last-child{
                                border-bottom-right-radius: 10px;
                                @include media(w1366) {
                                    border-bottom-left-radius: winsize(10);
                                }
                                @include media(w768) {
                                    border-bottom-right-radius: 2vw;
                                }
                            }
                        }
                    }
                    th,td{
                        padding: 10px 0;
                        @include media(w1366) {
                            padding: winsize(10) 0;
                        }
                        @include media(w768) {
                            padding: 2.5vw 0;
                        }
                        &:last-child{
                            border-right: none;
                        }
                    }
                }
                th{
                    color: #fff;
                    background: #ff9d77;
                    border-right: 1px solid #ee936f;
                    &.title{
                        font-size: 18px;
                        background: #fe5919;
                        border-top-left-radius: 10px;
                        border-top-right-radius: 10px;
                        @include media(w1366) {
                            font-size: winsize(18);
                            border-top-left-radius: winsize(10);
                            border-top-right-radius: winsize(10);
                        }
                        @include media(w768) {
                            font-size: mobsize(28);
                            border-top-left-radius: 2vw;
                            border-top-right-radius: 2vw;
                        }
                    }
                }
            }
        }
    }
}