@font-face {
    font-family: 'chungtf';
    src:url('../font/chungtf-proportional.ttf');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'dffn';
    src:url('../font/DFFN.TTC');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}