/* 首頁
--------------------------------------------------------------------------------------*/

.kv {
    padding-bottom: 0;

    .kv1 {
        display: flex;


        @include media(w768) {
            display: block;
        }

        .left {
            width: 100%;
            max-width: 998px;
            height: 598px;
            background-image: url('../images/kv_left.jpg');
            // background-size: 100%;
            background-repeat: no-repeat;
            background-position: right;
            position: relative;

            @include media(w768) {
                background-image: url('../images/m/kv_top.jpg');
                max-width: 800px;
                height: 100vw;
                background-size: 100%;
            }

            .main {
                position: absolute;
                right: 0%;
                transform: translateX(-21.5%);
                top: 19%;
                // width: 100%;

                @include media(w768) {
                    position: relative;
                    padding-top: 1%;
                    transform: translateX(0%);
                }

                .btn_group {
                    position: relative;
                    margin: 0 auto;
                    // top: 19.5%;
                    // left: 48.5%;
                    width: 83%;
                    display: flex;
                    // padding-bottom: 5%;

                    &._pc {
                        display: flex;

                        @include media(w768) {
                            display: none;
                        }
                    }

                    &._m {

                        display: none;

                        @include media(w768) {
                            display: flex;
                        }
                    }

                    @include media(w768) {
                        width: 83%;
                        padding-top: 7%;
                    }

                    .kv_btn {
                        border: 1px #fff solid;
                        border-radius: 20px;
                        width: 100%;
                        margin: 0 5%;
                        display: inline-block;

                        a {
                            color: #fff;
                            // padding: 8% 8%;
                            text-align: center;
                            font-size: 16px;
                            line-height: 2.4;

                        }

                        &:hover {
                            background-color: #0077c8;
                            color: #fff;
                            border: 1px #0077c8 solid;
                        }
                    }
                }

                .link_group {
                    position: relative;
                    width: 100%;

                    @include media(w768) {

                        margin: 0 auto;
                    }

                    .link {
                        color: #fff;

                        a {
                            color: #fff;
                            // padding: 1% 0;
                            text-align: center;
                            font-size: 16.75px;
                            letter-spacing: 1px;
                            padding-top: 5%;

                            @include media(w768) {
                                font-size: 3.3vw;
                                margin: 0 auto;
                                padding-top: 6%;
                            }

                            span {
                                padding-bottom: 2px;
                                border-bottom: 1px #fff solid;
                            }
                        }
                    }
                }

            }
        }

        .right {
            width: 100%;
            max-width: 922px;
            height: 598px;
            background-image: url('../images/kv_right.jpg');
            // background-size: 100%;
            background-repeat: no-repeat;
            position: relative;

            @include media(w768) {
                background-image: url('../images/m/kv_bottom.jpg');
                background-size: 100%;
                height: 150vw;
            }
        }
    }

    .kv2 {
        display: flex;

        @include media(w768) {
            display: block;
        }


        .left {
            width: 100%;
            max-width: 998px;
            height: 598px;
            background-image: url('../images/kv_left2.jpg');
            // background-size: 100%;
            background-repeat: no-repeat;
            background-position: right;
            position: relative;


            @include media(w768) {
                background-image: url('../images/m/kv_top2.jpg');
                max-width: 800px;
                height: 100vw;
                background-size: 100%;
            }
        }

        .right {
            width: 100%;
            max-width: 922px;
            max-height: 598px;
            background-image: url('../images/kv_right2.jpg');
            // background-size: 100%;
            background-repeat: no-repeat;
            position: relative;

            @include media(w768) {
                background-image: url('../images/m/kv_bottom2.jpg');
                background-size: 100%;
                background-position: top;
                width: 100%;
                height: auto;
                max-height: none;
                margin-bottom: 5%;
            }

            .where_buy {
                position: absolute;
                left: 0;
                top: 25%;
                width: 50%;
                min-width: 600px;

                @include media(w768) {
                    width: 100%;
                    // top: 19%;
                    min-width: auto;
                    position: relative;
                    padding-top: 25%;

                }

                ul {



                    &.title {
                        display: flex;
                        border: 1px #565656 solid;
                        border-radius: 25px;
                        padding: 0.5%;
                        margin: 0 auto;
                        width: 80%;

                        @include media(w768) {
                            width: 90%;

                        }

                        li {
                            // margin-right: 0%;
                            // background-color: #565656;
                            border-radius: 25px;
                            padding: 3%;
                            width: 100%;
                            color: #565656;
                            text-align: center;
                            font-weight: bold;
                            cursor: pointer;

                            @include media(w768) {
                                padding: 4%;
                            }

                            &:hover,
                            &.on {
                                background-color: #565656;
                                color: #fff;
                            }
                        }
                    }

                    &.content {

                        width: 100%;
                        margin: 0 auto;
                        margin-top: 8%;

                        @include media(w768) {
                            margin-top: 4%;
                            width: 93%;

                        }


                        li {
                            display: none;

                            &.on {
                                display: block;
                            }
                        }

                        .btn_group {
                            display: flex;
                            flex-wrap: wrap;
                            margin: 0 auto;
                            justify-content: center;

                            @include media(w768) {

                                justify-content: normal;
                            }

                            .btn {
                                position: relative;
                                border-radius: 8px;
                                text-align: left;
                                margin: 0 2% 0 2%;
                                margin-top: 3%;
                                font-size: 15px;
                                width: 28%;
                                padding-left: 3%;
                                line-height: 2;
                                font-weight: bold;
                                border: 1px #cacaca solid;

                                @include media(w768) {

                                    width: 46%;
                                    line-height: 2.5;
                                    font-size: 4vw;
                                    margin-top: 8%;
                                }

                                &:after {
                                    content: '↗';
                                    position: absolute;
                                    right: 10%;
                                    font-size: 15px;
                                    font-weight: bold;
                                    font-family: '微軟正黑體';

                                    @include media(w768) {

                                        font-size: 4vw;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }

        .bottom {
            display: none;


            @include media(w768) {
                display: block;
                position: relative;
                background-image: url('../images/m/kv_bottom3.jpg');
                background-size: 100%;
                // background-size: 100%;
                background-repeat: no-repeat;
                width: 100%;
                height: 30vw;
                // margin-top:%;
            }


        }
    }
}

#myfooter {

    @include media(w768) {
        border: none;
    }
}

.introduction {
    position: fixed;
    z-index: 5;
    right: 10%;
    bottom: 10vw;

    @include media(w1680) {
        right: 1vw;
        bottom: 15vw;
        width: 5vw;
        max-width: 78px;
        // padding:0 10%;
        // line-height: 2.2;
    }

    @include media(w1366) {
        right: 0vw;
        bottom: 15vw;
        width: 5vw;
        max-width: 75px;
        // padding:0 10%;
        // line-height: 2.2;
    }

    @include media(w768) {
        right: 0%;
        bottom: auto;
        top: 55%;
        width: 100%;

    }

    &.kv2 {

        display: none;

        @include media(w768) {
            display: block;
            right: 0%;
            bottom: auto;
            top: 55%;
            width: 100%;

        }

    }

}

.lb {
    background: rgba(0, 0, 0, 0.6);

    @include media(w768) {
        background: rgba(0, 0, 0, 0.5);
    }


    .lb-introduction {
        position: relative;
        width: 100%;
        background-color: #232323;
        border-radius: 20px;
        padding: 25px;
        padding-bottom: 0;

        @include media(w1366) {
            width: 65%;
        }

        @include media(w1280) {
            width: 65vw;
        }

        @include media(w768) {
            width: 100%;
            height: auto;
            padding: 20px 0;
            padding-top: 50px;
        }

        .btn_x {
            position: absolute;
            right: -10%;
            top: 0%;
            cursor: pointer;

            @include media(w768) {
                right: 2%;
                top: 2%;
                width: 10%;
            }
        }

        .title {
            width: 100%;

            p {
                width: 100%;
                color: #fff;
                font-size: 20px;
                text-align: left;
            }

            @include media(w768) {

                padding-left: 10px;
                padding-bottom: 10px;
            }

        }

        .kv_video {
            position: relative;

            .main {

                margin: 0 auto;
                padding-top: 1%;
                // max-height: 500px;
                width: 100%;



                @include media(w768) {

                    height: 300px;

                }


                .slick-arrow {


                    &.slick-prev,
                    &.slick-next {

                        position: absolute;
                        top: auto;
                        left: 2.5%;
                        bottom: 0%;

                        &:before {
                            content: '';
                            background-image: url('../images/list_btn.png');
                            background-size: 100%;
                            background-repeat: no-repeat;
                            position: absolute;
                            height: 64px;
                            width: 29px;


                        }

                        @include media(w768) {
                            left: 7%;
                        }
                    }

                    &.slick-prev {
                        transform: scaleX(-1);
                        // top: -15%;
                        height: 0;

                    }

                    &.slick-next {
                        left: auto;
                        right: 2.5%;
                        height: 0;

                        // height: 50px;
                        @include media(w768) {
                            right: 7%;
                        }
                    }

                }


                .bg {
                    // vertical-align:middle;
                    position: absolute;
                    width: 100%;
                    max-height: 500px;
                    overflow: hidden;

                    @include media(w1680) {
                        max-height: 400px;
                    }


                    @include media(w1366) {
                        max-height: 300px;
                    }


                    @include media(w768) {
                        max-height: 200px;
                    }

                    // overflow: hidden;
                    // max-height: 1000px;
                    // -webkit-filter: blur(15px);
                    // -moz-filter: blur(15px);
                    // -o-filter: blur(15px);
                    // -ms-filter: blur(15px);
                    img {
                        vertical-align: bottom;
                        transform: translateY(-25%);
                        width: 100%;
                    }
                }

                .imgWrap {
                    background-color: rgba(0, 119, 200, 0.5);

                    position: relative;
                    z-index: 2;

                    iframe {
                        width: 100%;
                        // padding-top: 90%;
                        height: 500px;

                        @include media(w1680) {
                            max-height: 400px;
                        }

                        @include media(w1366) {
                            max-height: 300px;
                        }


                        @include media(w768) {
                            padding-top: 0%;
                            height: 200px;
                            width: 100%;
                        }
                    }

                    img {

                        margin: 0 auto;
                        // width: 90%;
                        width: auto;
                        max-height: 500px;

                        @include media(w1680) {
                            max-height: 400px;
                        }

                        @include media(w1366) {
                            max-height: 300px;
                        }

                        @include media(w768) {
                            max-height: 200px;
                        }
                    }
                }

                .s_title {
                    width: 100%;
                    color: #fff;
                    font-size: 20px;
                    text-align: center;
                    padding-top: 1.5%;
                    padding-bottom: 3%;

                    &._pc {
                        display: block;

                        @include media(w768) {

                            display: none;
                        }
                    }

                    &._m {

                        display: none;

                        @include media(w768) {

                            display: block;
                        }
                    }

                    @include media(w768) {
                        line-height: 1.5;
                        padding-top: 5%;
                        padding-bottom: 5%;
                        font-size: 4.5vw;
                    }
                }
            }

            .list {
                width: 90%;
                margin: 0 auto;
                position: relative;
                cursor: pointer;

                @include media(w768) {
                    width: 78%;
                }

                .slick-arrow {


                    &.slick-prev,
                    &.slick-next {

                        position: absolute;
                        top: 0;
                        left: -3%;

                        &:before {
                            content: '';
                            background-image: url('../images/list_btn.png');
                            background-size: 100%;
                            background-repeat: no-repeat;
                            position: absolute;
                            height: 64px;
                            width: 29px;


                        }

                        @include media(w768) {
                            left: -4.5%;
                        }
                    }

                    &.slick-prev {
                        transform: scaleX(-1);
                        top: -15%;

                    }

                    &.slick-next {
                        left: auto;
                        right: -3%;

                        @include media(w768) {
                            right: -4.5%;
                        }
                    }

                }

                .slick-slide {
                    margin-right: 0.2%;
                    margin-bottom: 0;

                    &:first-child {
                        margin-left: 0%;
                    }
                }

                .imgWrap {

                    width: 100%;
                    // max-height: 100px;
                    overflow: hidden;


                    img {
                        width: auto;
                        // height: 100px;
                        max-height: 64px;
                        margin: 0 auto;

                        // max-width: 100px;
                        // padding-right:5%;
                        // @include media(w768) {
                        //     max-height: 72px;
                        // }


                    }
                }

            }
        }

        .btn_group {
            // // position: absolute;
            // top: 19.5%;
            // left: 48.5%;

            width: 100%;
            margin: 4% auto;

            @include media(w768) {
                margin-top: 8%;
            }


            a {
                color: #fff;
                width: 30%;
                text-align: center;
                font-size: 17.5px;
                line-height: 2.6;
                display: inline-block;
                margin: 0 1%;

                @include media(w1280) {
                    font-size: 1.3vw;
                }

                @include media(w768) {
                    width: auto;
                    font-size: 3vw;
                    margin: 0;
                    display: inline;
                }

                .kv_btn {
                    border: 1px #fff solid;
                    border-radius: 25px;
                    // width: auto;
                    padding: 5% 14%;
                    letter-spacing: 1.5px;

                    &:hover {
                        background-color: #0077c8;
                        color: #fff;
                        border: 1px #0077c8 solid;
                    }

                    @include media(w768) {
                        padding: 3% 8%;
                        margin: 0 2%;
                    }


                }

            }
        }
    }
}