/* BODY,HTML
--------------------------------------------------------------------------------------*/

html,
body {
    width: 100%;
    background: #000;
    // font-size: 50px;
    font-family: $font-stack;
    background-color: #fff;
    overflow-x: hidden;
}

html {
    -webkit-text-size-adjust: 100%;
}



#static_footer {
    line-height: 1.5;

    .gb-footer-2019__sitemap-items .gb-footer-2019__item-list li {
        line-height: 1.75;
    }
}


.SamsungSharpSans {
    font-family: SamsungSharpSans, Noto Sans TC, microsoft jhenghei, 微軟正黑體, Helvetica Neue, Helvetica, Arial, sans-serif;
}



/* 架構
--------------------------------------------------------------------------------------*/

.wrapper {
    width: 100%;
}

section {
    width: 100%;
    padding-bottom: 60px;
}

.container {
    width: 91.25%;
    max-width: 1200px;
    margin: auto;
    position: relative;
    padding: 0;
}

.container2 {
    width: 91.25%;
    max-width: 1360px;
    margin: auto;
    position: relative;
    padding: 0;
}

.flex {
    display: flex;
}






/* header
--------------------------------------------------------------------------------------*/

#myheader {
    width: 100%;
    background: #fff;
    // padding: 10px 0;
    border-bottom: 1px solid #d5d5d5;
    position: relative;
    z-index: 999;

    @include media(w1024) {
        border-bottom: none;
        padding: 0;
        background: transparent;
        z-index: 10;
    }

    &.fixed {
        position: fixed;
        top: 0;
        left: 0;
    }

    .container {

        // position: absolute;
        // top: 0;
        // right: 0;
        @include media(w1024) {
            width: 100%;
            position: relative;
            // height: 10vw;
            background: #000;
        }

        @include media(w768) {
            width: 100%;
            position: relative;
            // height: 10vw;
            background: #fff !important;
        }
    }

    // 。
    .line {
        border-bottom: 1px solid #d5d5d5;

        @include media(w1024) {
            border-bottom: none;
        }
    }

    .logo {
        // float: right;
        padding: 12px 0;
        width: 340px;

        @include media(w1024) {
            width: 80%;
            padding: 4vw 0;
            padding-left: 4%;
        }

        // img{
        //     width: auto;
        //     @include media(w1024){ width: 100%;}
        // }
    }

    hr {
        border: 0;
        border-bottom: 1px solid #d5d5d5;
    }

    .nav {

        // float: left;
        // position: absolute;
        // top: 0;
        // right: 0;
        @include media(w1024) {
            display: none;
            position: absolute;
            // top: 0;
            // left: 0;
            width: 100%;
            background: rgba(40, 40, 40, 0.95);
            z-index: 999;
            padding: 9vw 0;
            height: 100vh;
            top: auto;
            // box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.1);
        }

        ul {
            display: flex;

            @include media(w1024) {
                flex-wrap: wrap;
                position: relative;
                z-index: 9999;
            }
        }

        li {
            padding: 0 20px;

            &:first-child {
                padding-left: 0;

                a {
                    padding-left: 0;
                }
            }

            &:hover,
            &.select {
                a {
                    &:after {
                        opacity: 1;

                        @include media(w1024) {
                            opacity: 0;
                        }
                    }
                }
            }

            @include media(w1280) {
                padding: 0 10px;
            }

            @include media(w1024) {
                width: 100%;
                border: none;
                padding: 0 4vw;
                box-sizing: border-box;

                &:first-child {
                    padding: 0 4vw;
                }

                &:last-child {
                    a {
                        background: none;
                    }
                }
            }

            a {
                font-size: 16px;
                color: #000;
                font-weight: bold;
                padding: 18px 0;
                position: relative;

                &:after {
                    content: "";
                    display: block;
                    width: 100%;
                    height: 3px;
                    background: #0077c8;
                    position: absolute;
                    left: 0;
                    bottom: 0;
                    opacity: 0;
                }

                @include media(w1024) {
                    color: #fff;
                    font-weight: normal;
                    font-size: 4.5vw;
                    padding: 2vw 0;
                    letter-spacing: 1vw;
                }


            }
        }
    }

    .black {
        width: 100%;
        height: 100vh;
        position: absolute;
        top: 0;
        left: 0;
        background: #000;
        opacity: 0.6;
        z-index: 998;
        // opacity: 0;
        // z-index: -1;
        transition: all .3s ease;
        display: none;

        &.show {
            // opacity: 0.6;
            // z-index: 998;
            display: block;
            transition: all .3s ease;
        }
    }
}

.burger {
    width: 4vw;
    position: absolute;
    top: 35%;
    right: 4%;
    cursor: pointer;
    z-index: 9999;

    @include media(w1024) {
        &._m {
            display: block !important;
        }
    }

    .line {
        width: 100%;
        height: 0.5vw;
        // height: 3px;
        background-color: #808080;
        position: absolute;

        // border-radius: 0.5vw;
        &:nth-child(2) {
            top: 0;
            left: 0;
            transform-origin: center;
            transition: top 0.35s, left 0.35s, width 0.35s, opacity 0.35s;
        }

        &:nth-child(3),
        &:nth-child(4) {
            top: 50%;
            transform: translateY(-50%);
            transform-origin: center;
            transition: transform 0.35s;
            opacity: 0;
        }

        &:nth-child(3) {
            bottom: 0;
            left: 0;
            opacity: 1;
            transform-origin: center;
            transition: bottom 0.35s, left 0.35s, width 0.35s, opacity 0.35s;
        }
    }

    &.isclick {
        .line {

            &:nth-child(2),
            &:nth-child(5) {
                width: 0;
                opacity: 0;
                left: 50%;
            }

            &:nth-child(2) {
                top: 50%;
            }

            &:nth-child(5) {
                bottom: 50%;
            }

            &:nth-child(3) {
                opacity: 1;
                transform: rotateZ(-45deg);
            }

            &:nth-child(4) {
                opacity: 1;
                transform: rotateZ(45deg);
            }
        }
    }
}





/* footer
--------------------------------------------------------------------------------------*/

#myfooter {
    width: 100%;
    font-size: 14px;
    color: #000;
    text-align: center;
    padding: 10px 0;
    background: #fff;
    line-height: 1.5;
    border-top: 1px solid #d5d5d5;
    font-weight: bold;

    @include media(w1024) {
        padding: 2vw 0;
        font-size: 3vw;
    }

    font {
        font-family: 'Samsung Sharp Sans', 'Noto Sans TC', 'microsoft jhenghei', '微軟正黑體', 'Helvetica Neue,Helvetica', 'Arial,sans-serif';
    }
}






/* 共用物件
--------------------------------------------------------------------------------------*/

.btnstyle {
    font-size: 16px;
    font-weight: bold;
    border-radius: 25px;
    text-align: center;
    padding: 10px 0;

    @include media(w1024) {
        font-size: 3.75vw;
        padding: 3vw 0;
        border-radius: 6vw;
    }

    &.bg1 {
        background: #0077C8;
        color: #fff;
        border: 1px solid #0077C8;

        &:hover {
            background: #006fb9;
        }
    }

    &.bg2 {
        background: #fff;
        color: #000;
        border: 1px solid #cbcbd1;

        &:hover {
            background: #cbcbd1;
        }
    }
}

::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: #999999;
    font-family: $font-stack;
}

::-moz-placeholder {
    /* Firefox 19+ */
    color: #999999;
    font-family: $font-stack;
}

:-ms-input-placeholder {
    /* IE 10+ */
    color: #999999;
    font-family: $font-stack;
}

:-moz-placeholder {
    /* Firefox 18- */
    color: #999999;
    font-family: $font-stack;
}

.btnstyle2 {
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#00b3e3+0,067ac9+100 */
    background: #00b3e3;
    /* Old browsers */
    background: -moz-linear-gradient(left, #00b3e3 0%, #067ac9 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #00b3e3 0%, #067ac9 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #00b3e3 0%, #067ac9 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00b3e3', endColorstr='#067ac9', GradientType=1);
    /* IE6-9 */


    border-radius: 30px;
    padding: 2px;

    &:hover {
        p {
            background: transparent;
            color: #fff;
            transition: all .3s ease;
        }
    }

    p {
        background: #fff;
        font-size: 18px;
        color: #000;
        border-radius: 30px;
        text-align: center;
        padding: 20px 0;
        font-weight: bold;
        transition: all .3s ease;

        @include media(w1024) {
            font-size: 3.75vw;
            padding: 3vw 0;
        }
    }
}