/* QA
--------------------------------------------------------------------------------------*/

.qna{
    padding: 0 0 50px;
    .btnstyle2{
        p{ 
            font-size: 16px;
            @include media(w1024){
                font-size: 4vw;
            }
        }
    }
    nav {
        margin-top: 75px;
        padding-bottom: 70px;
        @include media(w1024){
            margin-top: 5vw;
            padding-bottom: 8vw;
        }
        a{
            display: inline-block;
            vertical-align: middle;
            +a{
                margin-left: 20px;
            }
        }
        p{
            padding: 12px 30px;
            margin: 0;
        }
        
        @include media(w1024){
            margin-top: 8vw;
            a{
                width: 60%;
                display: block;
                margin: auto;
                +a{
                    margin: 5vw auto 0;
                }
            }
            p{
                padding: 12px 30px;
                margin: 0;
            }
        }
    }
    .title{
        font-size: 34px;
        line-height: 1.5;
        color: #000;
        font-weight: bold;
        text-align: center;
        padding-bottom: 50px;
    	@include media(w1024){
    		font-size: 5.5vw;
    		padding-bottom: 7vw;
    	}
    }
    .subtitle{
		font-size: 20px;
		line-height: 1.5;
		color: #3a3a3a;
		padding-bottom: 15px;
        font-weight: bold;
		@include media(w1024){
    		font-size: 6vw;
    		padding-bottom: 3vw;
    	}
        .icon{
            width: 60px;
            display: inline-block;
            vertical-align: middle;
            margin-right: 10px;
            @include media(w1024){
                width: 12vw;
            }
        }
        span{
            display: inline-block;
            vertical-align: middle;
            @include media(w1024){
                width: 84%;
                vertical-align: top;
            }
        }
    }
    .module{
		padding-bottom: 60px;
		@include media(w1024){
			padding-bottom: 5vw;
		}
    }
    .box{
    	padding-bottom: 10px;
    	cursor: pointer;
    	@include media(w1024){
    		padding-bottom: 3vw;
    	}
    	&.isopen{
    		.sub{
    			&:after{
    				transform: rotate(180deg);
    				transition: all .3s ease;
    			}
    		}
    	}
    	.sub{
    		font-size: 18px;
    		color: #000;
    		line-height: 1.5;
    		border: 1px solid #d6d6d6;
    		border-radius: 3px;
    		padding: 12px 20px 10px;
    		box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.15);
    		position: relative;
    		z-index: 1;
    		@include media(w1024){
    			font-size: 3.75vw;
    			padding: 2.5vw 3vw 2vw;
    			padding-right: 10vw;
    		}
    		p{
    			display: inline-block;
    			@include media(w1024){
    				width: 90%;
    			}
    		}
    		&:before{
    			content: "";
    			display: inline-block;
    			width: 24px;
    			height: 24px;
    			background-image: url('../images/icon_qa.png');
    			background-repeat: no-repeat;
    			background-position: center top;
    			background-size: 100% auto;
    			vertical-align: sub;
    			margin-right: 10px;
    			@include media(w1024){
					margin-right: 2vw;
					width: 4.8vw;
					height: 4.8vw;
					margin-right: 2vw;
					vertical-align: top;
    			}
    		}
    		&:after{
    			content: "";
    			display: block;
    			width: 24px;
    			height: 14px;
    			background-image: url('../images/qa_ar.png');
    			background-repeat: no-repeat;
    			background-size: 100% auto;
    			background-position: center top;
    			position: absolute;
    			top: 40%;
    			right: 25px;
    			transition: all .3s ease;
    			@include media(w1024){
					width: 4.8vw;
					height: 4.8vw;
					right: 3vw;
    			}
    		}
    	}
    	.txt{
    		background: #f1f1f1;
    		font-size: 18px;
    		line-height: 1.7;
    		color: #000;
    		padding: 20px 25px;
    		text-align: justify;
    		display: none;
    		@include media(w1024){
    			font-size: 3.75vw;
    			padding: 3vw 3.5vw;
    		}
            font{
                color: red;
            }
				.step-btns{
					width: 100%;
					margin: 12px 0;
					@include media(w1024){
						margin-top: 0;
						margin-bottom: 4vw;
						text-align: center;
					}
					a{
						color: #fff;
						display: inline-block;
						line-height: 1;
						background: linear-gradient(to right, rgba(0,119,200,1) 0%,rgba(0,179,227,1) 100%);
						filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0077c8', endColorstr='#00b3e3',GradientType=1 );
						text-decoration: none;
						padding: 16px 24px;
						font-size: 20px;
						font-weight: 600;
						+a{
							margin-left: 24px;
						}
						@include media(w1024){
							display: block;
							width: 100%;
							margin: auto;
							margin-top: 3vw;
							padding: 3.5vw 0;
							font-size: 4vw;
							letter-spacing: .5vw;
							+a{
								margin-left: 0;
							}
						}
						font{
							color: #ffd735;
						}
					}
				}
    	}
    	.list{
    		list-style-type: upper-alpha;
    		padding-left: 30px;
    		@include media(w1024){
    			padding-left: 5vw;
    		}
    		li{
    			
    			padding-bottom: 5px;
                list-style: disc;
    			&:last-child{ padding-bottom: 0; }
    			@include media(w1024){
    				padding-left: 1vw;
    				padding-bottom: 1vw;
    			}
    		}
    	}
        .tablestyle{
            border: 1px solid #000;
        }
        .link{
            display: inline-block;
            color: #17299d;
            text-decoration: underline;
            &:hover{
                text-decoration: none;
            }
        }
	 }
	
}





.tablestyle{
    // width: 1200px;
    // width: 100%;
    margin: auto; 
    font-size: 20px;
    line-height: 1.5;
    th,td{
        padding: 20px; 
        border: 1px solid #000; 
        vertical-align: middle;
    }
    th{
        background: #000;
        color: #fff;
        text-align: center;
        font-weight: normal; 
    }
    .thisbtn{
        color: blue;
        text-decoration: underline;
        margin-top: 10px;
    }

    &._m{
        width: 100%;
        font-size: 100%;
        // font-size: 20px; 
        margin-bottom: 2em;
        th,td{
            padding: 1em;
        }
        th{
            background: #fff;
            color: #000;
        }
    }
}