.rule{
	p{
		font-size: 18px;
    	line-height: 32px;
    	color: #000;
	}	
	.box{
		padding-bottom: 3em;
		&.center{
			text-align: center;
		}
	}
	.icon{
		display: inline-block;
		vertical-align: middle;
		margin-right: 15px;
	}
	.txt{
		display: inline-block;
		vertical-align: top;
		padding-left: 4.3em;
	}
	.sub{
		font-size: 25px;
		font-weight: bold;
		line-height: 1.5;
		span{
			display: inline-block;
			width: 90%;
			vertical-align: top;
			padding-top: .8rem;
		}
	}
	.list1{
		font-size: 18px;
    	line-height: 32px;
    	color: #000;
    	counter-reset: a 0;
    	padding-left: 1.6em;
    	li{
		    counter-increment: a 1;
		    padding-bottom: .2em;
		    span{
		    	display: inline-block;
			    width: 1.2em;
			    margin-left: -1.5em;
			    content: counter(a);
			    border-radius: 50%;
			    height: 1.2em;
			    line-height: 1.2em;
			    background: #000;
			    color: #fff;
			    text-align: center;
			    margin-right: .5em;
		    }
    		// &:before{
    		// 	content: "";
    		// 	display: inline-block;
			   //  width: 1.2em;
			   //  margin-left: -1.5em;
			   //  content: counter(a);
			   //  border-radius: 50%;
			   //  height: 1.2em;
			   //  line-height: 1.2em;
			   //  background: #000;
			   //  color: #fff;
			   //  text-align: center;
			   //  margin-right: .5em;
    		// }
    	}
	}
	.list2{
		font-size: 18px;
    	line-height: 32px;
    	color: #000;
    	padding-left: .2em;
    	counter-reset: section;
    	li{
		    padding-bottom: .5em;
		    position: relative;
		    padding-left: 5em;
		    &:last-child{
		    	padding-bottom: 0;
		    }
		    span{
		    	line-height: 1.5;
			    color: #000;
			    text-align: center;
			    // margin-right: 1.5em;
			    font-size: 20px;
			    position: absolute;
			    left: 0;
		    }
    		// &:before{
    		// 	counter-increment: section;
    		// 	content: "STEP " counter(section);
    		// 	display: inline-block;
			   //  line-height: 1.5;
			   //  color: #000;
			   //  text-align: center;
			   //  // margin-right: 1.5em;
			   //  font-size: 20px;
			   //  position: absolute;
			   //  left: 0;
    		// }
    	}
	}
	.list3{
		font-size: 16px;
    	line-height: 32px;
    	color: #000;
    	padding-left: 1.7em;
    	padding-bottom: 3em;
    	&:last-child{
    		padding-bottom: 0;
    	}
    	li{
    		padding-bottom: .2em;
    		list-style: decimal-leading-zero;;
    	}
	}
	.list4{
		font-size: 16px;
    	line-height: 32px;
    	color: #000;
    	padding-left: 1.2em;
    	li{
    		list-style: disc;
    	}
	}
	.link{
		font-size: 18px;
		display: inline;
		text-decoration: underline;
		&:hover{
			text-decoration: none;
		}
	}
	.btn{
		background: rgb(23, 41, 157);
		border-radius: 1.5em;
		color: #fff;
		display: inline-block;
		line-height: 1.5;
		padding: .3em 2em; 
		font-size: 20px;
		&:hover{
			filter: brightness(1.2);
		}
	}
	.attention{
		background: #f1f1f1;
		box-sizing: border-box;
		padding: 1.5em;
		.title{
			font-size: 22px;
			font-weight: bold;
			padding-bottom: .5em;
		}
		p{
			font-size: 16px;
    		line-height: 32px;
		}
	}
}