@font-face {
    font-family: 'SamsungSharpSansn';
    src: url('../font/SamsungSharpSans-Medium.eot'),
        url('../font/SamsungSharpSans-Medium.woff') format('woff'),
        url('../font/SamsungSharpSans-Medium.woff2') format('woff2');
    font-weight: Medium;
    font-style: Medium;
    font-display: swap;
}


@font-face {
    font-family: 'SamsungOnen';
    src: url('../font/SamsungOneSCN-450.ttf');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
