/* BODY,HTML
--------------------------------------------------------------------------------------*/

html,
body {
    width: 100%;
    overflow: hidden;
    background-color: #000;
}

html {
    -webkit-text-size-adjust: 100%;
}



a:focus,
a:visited,
a:active,
span:active {
    background: transparent;
    outline: none;
    outline-offset: none;
    // color: transparent;
    // border: none;
}

:root{
    --base:#fff00;
    --spa:10px;
    --blur:10px;
}

.page{
    width: 80%;
    margin: auto;
    .control{
        display: flex;

        .btn{
            margin: auto;
            p{
                color: #fff;
                font-size: 40px;
                display: inline-block;
                vertical-align: middle;
                font-family: '微軟正黑體';
            }

            .line{
                display: inline-block;
                width: 300px;
                height: 10px;
                background-color: #fff;
                border-radius: 50px;
                vertical-align: middle;
                position: relative;
            }

            .bull{
                width: 10px;
                height: 10px;
                border-radius: 50px;
                background-color: red;
                position: absolute;
                top: 0;
            }

            .pic{
                max-width: 300px;
            }

            img{
                width: auto;
            }
        }
    }
}



footer p,header h1{
    padding: 5%;
    font-size: 20px;
    text-align: center;
    color: #fff;
    font-family: '微軟正黑體';
    font-weight: bold;
}