/*==================================================*\
        Index Page Style
\*==================================================*/

.index-page {

  .rotatingDevice{
    @include full-popup(#f3fafd);
    display: none;
    z-index: 9999;
    >p{
      display: none;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      font-size: 3vw;
      text-align: center;
      font-weight: 700;
      color: #000000;
    }
  }

  @media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1366px) 
  and (orientation: portrait){
    .rotatingDevice{
      display: block;
      .portrait{
        display: block;
      }
    }
  }

  @media only screen 
  and (min-device-width: 300px) 
  and (max-device-width: 900px) 
  and (orientation: landscape){
    .rotatingDevice{
      display: block;
      .landscape{
        display: block;
      }
    }
  }

  main {
    position: relative;
    width: 100%;
    // min-width: 1024px;
    min-height: 768px;
    background-color: #f3fafd;
    overflow: hidden;
    // @include mq(tablet-mid, max) {
    //   margin-top: 60px;
    // }

    // &.pc{
    //   min-width: 1024px;
    // }

    // &.mb{
    //   min-width: auto;
    // }

    .fixBg {
      position: fixed;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      z-index: -1;
    }

    .bg {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      transition: clip 0.7s;
      height: 100%;
      background-size: cover !important;
    }

    .bg1 {
      /*background: linear-gradient(red,blue);*/
      // background: url('https://source.unsplash.com/5fNmWej4tAA/1600x900') no-repeat center center;
      background: url('../images/sec0_bg.jpg') no-repeat center center;
      background-size: cover;
      // filter: grayscale(50%);
      z-index: 24;
    }

    .bg2 {
      // background: linear-gradient(black,blue);
      background: url('../images/sec1_bg.jpg') no-repeat center center;
      background-size: cover;
      z-index: 23;
    }

    .bg3 {
      /*background: linear-gradient(white,blue);*/
      background: #fff;
      // 
      z-index: 22;
    }

    .bg4 {
      background: #fff;
      // 
      z-index: 21;
    }

    .bg5 {
      background: #fff;
      z-index: 20;
    }

    .bg6 {
      background: #fff;
      z-index: 19;
    }

    .bg7 {
      background: #fff;
      z-index: 18;
    }

    .bg8 {
      background: #fff;
      z-index: 17;
    }

    .bg9 {
      background: #f1f1f1;
      z-index: 16;
    }

    .bg10 {
      background: #fff;
      z-index: 15;
    }

    .bg11 {
      background: #fff;
      z-index: 14;
    }

    .bg12 {
      // background: #fff;
      background: url('../images/sec11_img.jpg') no-repeat center center;
      background-size: cover;
      z-index: 13;
    }

    .bg13 {
      background: #fff;
      z-index: 12;
    }

    .bg14 {
      background: #fff;
      z-index: 11;
    }

    .bg15 {
      background: #fff;
      z-index: 10;
    }

    .bg16 {
      background: #fff;
      z-index: 9;
    }

    .bg17 {
      background: url('../images/sec16_bg.jpg') no-repeat center center;
      z-index: 8;
    }

    .bg18 {
      background: #fff;
      z-index: 7;
    }

    .bg19 {
      background: #fff;
      z-index: 6;
    }

    .bg20 {
      background: #fff;
      z-index: 5;
    }

    .bg21 {
      background: #fff;
      z-index: 4;
    }

    .bg22 {
      background: #fff;
      z-index: 3;
    }

    .bg23 {
      background: #fff;
      z-index: 2;
    }

    .bg24{
      background: #3e2e58;
      z-index: 1;
    }

    .fp-scroller {
      transition: transform 0.5s !important;
    }

    .section {
      text-align: center;

      .container {
        position: relative;
        max-width: 1280px;
        margin: auto;
        text-align: center;

        @include mq(tablet-wide, max) {
          padding: 0 4%;
        }
      }

      .txLeft {
        text-align: left;
      }

      ._slick {
        .slides {
          position: relative;
          height: 50vh;

          @include mq(phone-wide, max) {
            height: 44vh;
          }

          canvas {
            width: auto !important;
            height: 70% !important;
            margin: auto;
          }

          &.flexslide {
            display: flex;
            align-items: flex-start;
            justify-content: center;
            flex-direction: row;

            >* {
              position: relative;
            }
          }

          .centerTxt {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            margin-top: -5%;
            font-size: 3vh;
            font-weight: 700;
            color: #000;

            font {
              font-size: larger;
              font-weight: bolder;
            }

            @include mq(tablet-mid, max) {
              left: 11.5vh;
              transform: translate(-50%, 0);
              margin-top: 6%;
              // margin-left: -12%;
              font-size: 3vw;
            }
            @include mq(tablet, max) {
              left: auto;
              margin-top: -14%;
            }
            @media only screen 
              and (min-device-width: 1024px) 
              and (max-device-width: 1366px) 
              and (orientation: landscape){
                left: auto;
                margin-top: -5%;
              }
            @include mq(phone-wide, max) {
              left: auto;
              margin-top: -18%;
              font-size: 4vw;
            }
          }
        }
      }

      .circleBox {
        position: relative;
        margin: auto;

        .abs {
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%);
        }

        .circleNum {
          color: #fff;
          font-weight: 900;
        }

        .txt {
          margin-top: 2vh;
          text-align: center;
          color: #fff;
          line-height: 1.2;
          font-weight: 500;
        }
      }

      .legendBox {
        min-width: 150px;
        max-width: 400px;
        margin: 1vh auto 0;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;

        @include mq(phone-wide, max) {
          width: 80%;
        }

        &.column {
          flex-direction: column;
          align-items: flex-start;
        }

        &.mbColumn {
          @include mq(tablet, max) {
            flex-direction: column !important;
            position: absolute;
            right: -13vw;
            top: 50%;
            transform: translateY(-50%);
            align-items: flex-start !important;
            max-width: 152px !important;
            margin: 0 auto;

            >li {
              width: 100% !important;
              justify-content: flex-start !important;
            }
          }

          @include mq(phone-wide, max) {
            width: auto;
          }
        }

        @include mq(phone-wide, max) {
          min-width: 90px;
        }

        >li {
          width: 31%;
          min-width: 27%;
          display: flex;
          align-items: center;
          justify-content: center;
          padding: 2% 0;

          @include mq(tablet-mid, max) {
            padding: 6% 0;
          }

          @include mq(phone-wide, max) {
            padding: 3% 0;
          }

          span {
            @include mq(phone-wide, max) {
              font-size: 3.5vw;
            }
          }

          &::before {
            content: '';
            display: block;
            position: relative;
            width: 25px;
            height: 25px;
            margin-right: 2%;

            @include mq(tablet-mid, max) {
              width: 18px;
              height: 18px;
            }
          }

          &.boxPurple {
            &::before {
              background-color: #7c5baf;
            }
          }

          &.boxBlue {
            &::before {
              background-color: #5f9199;
            }
          }

          &.boxGreen {
            &::before {
              background-color: #7e7c43;
            }
          }

          &.boxYellow {
            &::before {
              background-color: #eea23b;
            }
          }

          &.boxRed {
            &::before {
              background-color: #d6463c;
            }
          }
        }

        &.row4 {
          padding-left: 9vh;

          @include mq(phone-wide, max) {
            padding-left: 10vw;
          }

          &.wd {
            max-width: 420px !important;
            padding-left: 6vh;
            @include mq(phone-wide, max) {
              margin-left: 30vw;
            }
          }

          li {
            width: 34%;
            flex-grow: 1;
            justify-content: flex-start;
          }
        }
      }

      .topic{
        font-size: 4.5vh;
        font-weight: 900;
        line-height: 1.5;
        margin-bottom: 25px;

        @include mq(tablet-mid, max) {
          font-size: 8vw;
          margin-bottom: 2vw;
        }
        @include mq(tablet, max) {
          font-size: 5.8vw;
        }
      }

      h1 {
        font-size: 3.8vh;
        font-weight: 900;
        line-height: 1.5;
        margin-bottom: 25px;

        @include mq(tablet-mid, max) {
          font-size: 4.5vw;
          margin-bottom: 2vw;
        }
        @include mq(tablet, max) {
          font-size: 4vw;
        }
      }

      h2 {
        position: relative;
        display: inline-block;
        font-size: 2.6vh;
        font-weight: 600;
        padding-bottom: 0.5vh;
        line-height: 1.4;
        margin-bottom: 2vh;
        border-bottom: 4px solid #c9c9c9;

        @include mq(tablet-mid, max) {
          font-size: 4vw;
          margin-bottom: 4vw;
        }

        @include mq(phone-wide, max) {
          border-bottom: 2px solid #c9c9c9;
        }

        &:before {
          content: ' ';
          position: absolute;
          width: 0;
          height: 0;
          left: 50%;
          transform: translateX(-50%);
          top: auto;
          bottom: -20px;
          border: 9px solid;
          border-color: #c9c9c9 transparent transparent transparent;

          @include mq(phone-wide, max) {
            bottom: -15px;
            border: 7px solid;
            border-color: #c9c9c9 transparent transparent transparent;
          }
        }

        &:after {
          content: ' ';
          position: absolute;
          width: 0;
          height: 0;
          left: 50%;
          transform: translateX(-50%);
          top: auto;
          bottom: -12px;
          border: 6px solid;
          border-color: #fff transparent transparent transparent;

          @include mq(phone-wide, max) {
            bottom: -10px;
            border: 5px solid;
            border-color: #fff transparent transparent transparent;
          }
        }
      }

      h3 {
        position: relative;
        display: inline-block;
        font-size: 2.4vh;
        font-weight: 600;
        line-height: 1.4;
        margin-bottom: 2vh;
      }

      h4 {
        position: relative;
        display: inline-block;
        font-size: 2.4vh;
        font-weight: 600;
        line-height: 1.4;
        margin-bottom: 2vh;

        @include mq(tablet-wide, max) {
          font-size: 3.5vw;
          margin-bottom: 1vw;
      }
      }

      p {
        font-size: 2.5vh;
        font-weight: 500;
        line-height: 2;

        @include mq(tablet, max) {
          font-size: 4vw;
        }
      }

      span.qes {
        display: inline-block;
        font-size: 2vh;
        font-weight: 500;
        color: rgb(128, 128, 128);
        text-align: left;
        margin-top: 1vh;
        line-height: 1.5;

        @include mq(tablet-mid, max) {
          margin-top: 2vw;
          font-size: 3.7vw;
        }
      }

      .tabBox {
        display: flex;
        align-items: center;
        justify-content: stretch;
        width: 100%;
        max-width: 830px;
        margin: auto;
        margin-bottom: 4vh;

        >a {
          flex-grow: 1;
          min-width: 20%;
          position: relative;
          font-size: 2.6vh;
          font-weight: 600;
          color: #c9c9c9;
          border-bottom: 4px solid #c9c9c9;
          padding: 1vh 5vh;
          text-align: center;
          line-height: 1.4;

          @include mq(tablet, max) {
            font-size: 3.5vw;
            padding: 2vw 3vw;
          }

          @include mq(phone-wide, max) {
            font-size: 4vw;
            padding: 3vw 1vw;
            line-height: 1.2;
          }

          &:before {
            content: ' ';
            position: absolute;
            width: 0;
            height: 0;
            left: 50%;
            transform: translateX(-50%);
            top: auto;
            bottom: -20px;
            border: 9px solid;
            border-color: #c9c9c9 transparent transparent transparent;
          }

          &:after {
            content: ' ';
            position: absolute;
            width: 0;
            height: 0;
            left: 50%;
            transform: translateX(-50%);
            top: auto;
            bottom: -13px;
            border: 8px solid;
            border-color: #fff transparent transparent transparent;
          }

          &.active {
            color: #000;
            border-bottom: 4px solid #000;

            &:before {
              border-color: #000 transparent transparent transparent;
            }
          }
        }
      }

      .flexBox {
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-direction: row;

        @include mq(tablet-mid, max) {
          flex-direction: column;
        }

        @media only screen 
        and (min-device-width: 1024px) 
        and (max-device-width: 1366px) 
        and (orientation: landscape){
          flex-direction: row;
        }
        
      }

      .flexBoxStart {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-direction: row;

        @include mq(tablet-mid, max) {
          flex-direction: column;
        }

        @media only screen 
        and (min-device-width: 1024px) 
        and (max-device-width: 1366px) 
        and (orientation: landscape){
          flex-direction: row;
        }
      }

      .flexCenter {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;

        @include mq(tablet-mid, max) {
          flex-direction: column;
        }

        @media only screen 
        and (min-device-width: 1024px) 
        and (max-device-width: 1366px) 
        and (orientation: landscape){
          flex-direction: row;
        }
      }

      .flexColumn {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
      }

      &._chart {
        h1 {
          margin-top: -5vh;
          @include mq(tablet, max) {
            margin-top: -6vw;
          }
        }

        .flexBox {
          >* {
            position: relative;
            width: auto !important;
            // min-width: 40%;
            max-width: 42% !important;
            height: 60vh !important;

            @include mq(tablet-mid, max) {
              max-width: 70% !important;
              height: 33vh !important;
              margin-bottom: 3vw;

              // &:not(:last-child){
              //   margin-bottom: 3vw;
              // }
            }

            @media only screen 
            and (min-device-width: 1024px) 
            and (max-device-width: 1366px) 
            and (orientation: landscape){
              max-width: 42% !important;
              height: 60vh !important;
            }

            // @include mq(tablet, max) {
            //   height: 30vh !important;
            // }
            @include mq(phone-wide, max) {
              height: 26vh !important;
            }

            canvas.donut {
              width: auto !important;
              height: 70% !important;
              margin: auto;

              @include mq(tablet, max) {
                margin-left: -21%;
                height: 75% !important;
              }
            }
          }

        }

        .centerNum {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          font-size: 5.5vh;
          font-weight: 900;
          color: #000;

          @include mq(tablet-mid, max) {
            left: 11.5vh;
            transform: translate(-50%, 0);
            margin-top: 6%;
            // margin-left: -12%;
            font-size: 5vw;
          }

          @media only screen 
          and (min-device-width: 1024px) 
          and (max-device-width: 1366px) 
          and (orientation: landscape){
            left: auto;
            margin-top: 0;
          }
        }

        .centerTxt {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          margin-top: -4%;
          font-size: 3vh;
          font-weight: 700;
          color: #000;

          font {
            font-size: larger;
            font-weight: bolder;
          }

          @include mq(tablet-mid, max) {
            left: 11.5vh;
            transform: translate(-50%, 0);
            margin-top: 6%;
            // margin-left: -12%;
            font-size: 3vw;
          }

          @media only screen 
          and (min-device-width: 1024px) 
          and (max-device-width: 1366px) 
          and (orientation: landscape){
            left: auto;
            margin-top: -4%;
          }

          // @include mq(tablet, max) {
          //   left: 12.5vw;
          //   margin-top: 5%;
          // }

          @include mq(phone-wide, max) {
            left: 15vw;
            margin-top: 2%;
          }
        }
      }

      .hzBarChartA {
        width: 100%;
        min-width: 500px;
        height: 65%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        padding-top: 2vh;

        @include mq(tablet-mid, max) {
          min-width: 300px;
        }
        @include mq(tablet, max) {
          min-width: 400px;
        }
        @include mq(phone-wide, max) {
          min-width: 300px;
        }

        >* {
          display: flex;
          align-items: center;
          justify-content: flex-start;
          width: 100%;
        }

        h5 {
          font-size: 2.4vh;
          display: block;
          word-break: keep-all;
          margin-right: 10px;
        }

        .barBack {
          position: relative;
          width: 100%;
          height: 7vh;
          text-align: left;

          @include mq(tablet-mid, max) {
            height: 4vh;
          }
        }

        .bar {
          position: absolute;
          left: 0;
          top: 0;
          width: 0;
          height: 100%;
          transition: 2s;
          display: flex;
          align-items: center;
          justify-content: flex-start;
        }

        .bar0 {
          background-color: #a5a5a5;
        }

        .bar1 {
          background-color: #7c5baf;
        }

        .bar2 {
          background-color: #5f9199;
        }

        .bar3 {
          background-color: #7e7c43;
        }

        .bar4 {
          background-color: #eea23b;
        }

        .barNum {
          color: #fff;
          font-size: 2.4vh;
          font-weight: 900;
          margin-left: 20px;
        }
      }

      .hzBarChartB {
        width: 100%;
        min-width: 500px;
        height: 55vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        padding-top: 2vh;

        @include mq(tablet-mid, max) {
          min-width: 300px;
        }
        @include mq(phone-wide, max) {
          height: 50vh;
        }

        >* {
          display: flex;
          align-items: center;
          justify-content: flex-end;
          width: 100%;
        }

        h5 {
          font-size: 2.4vh;
          display: block;
          word-break: keep-all;
          margin-right: 10px;
          text-align: right;
        }

        .barBack {
          position: relative;
          width: 55%;
          height: 6vh;
          text-align: left;

          @include mq(tablet-mid, max) {
            height: 4vh;
          }
        }

        .lastTxt {
          position: relative;
          width: 55%;
          height: 6vh;
          text-align: left;
          display: flex;
          align-items: center;
          justify-content: flex-start;
          font-size: 2.6vh;
          font-weight: 800;

          @include mq(tablet-mid, max) {
            height: 4vh;
          }
        }

        .bar {
          position: absolute;
          left: 0;
          top: 0;
          width: 0;
          height: 100%;
          transition: 2s;
          display: flex;
          align-items: center;
          justify-content: flex-start;
        }

        .bar0 {
          background-color: #a5a5a5;
        }

        .bar1 {
          background-color: #7c5baf;
        }

        .bar2 {
          background-color: #5f9199;
        }

        .barNum {
          color: #fff;
          font-size: 2.4vh;
          font-weight: 900;
          margin-left: 20px;
        }
      }

      .barChartA {
        width: 100%;
        min-width: 150px;
        height: 75%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-end;

        @include mq(tablet, max) {
          min-width: 90px;
          height: 73%;
        }

        @include mq(phone-wide, max) {
          min-width: 90px;
          height: 79%;
        }

        .bar {
          width: 100%;
          height: 0;
          transition: 2s;
          display: flex;
          align-items: center;
          justify-content: center;
        }

        .bar1 {
          background-color: #7c5baf;
        }

        .bar2 {
          background-color: #5f9199;
        }

        .bar3 {
          background-color: #7e7c43;
        }

        .bar4 {
          background-color: #eea23b;
        }

        .barNum {
          color: #fff;
          font-size: 2.4vh;
          font-weight: 900;
        }
      }

      &#section0 {
        h1 {
          margin-bottom: 0;
        }
        .scrollDown{
          position: absolute;
          bottom: 14%;
          left: 50%;
          transform: translateX(-50%);
          width: 54px;
          height: 54px;
          animation-name: scrollDown;
          animation-duration:2s;
          animation-iteration-count:infinite;
          animation-timing-function:ease-in-out;
          transition: 0.4s;
          cursor: pointer;
        }
      }

      &#section1 {
        p {
          max-width: 850px;
        }
      }

      &#section4 {
        h1 {
          margin-top: -4vh;
          margin-bottom: 8vh;
          @include mq(tablet, max) {
            margin-bottom: 4vw;
          }
        }

        .flexBox {
          display: flex;
          align-items: flex-start;
          justify-content: space-around;

          @include mq(tablet-mid, max) {
            flex-direction: row;
          }
        }

        .flexBoxStart {
          margin: 25px 0;

          @include mq(tablet-mid, max) {
            margin: 2vw 0;
          }
        }

        .per {
          color: #747474;
          font-size: 30px;
          font-weight: 900;
          padding: 0 10px;

          @include mq(tablet-mid, max) {
            font-size: 5vw;
          }
        }

        .txt {
          color: #747474;
          font-size: 22px;
          font-weight: 700;
          line-height: 1.4;

          @include mq(tablet-mid, max) {
            font-size: 4vw;
          }
        }
      }

      &#section5 {
        #chart4 {
          width: auto !important;
          height: 100% !important;
          @include mq(tablet-wide, max) {
            height: 80% !important;
          }
          @include mq(tablet, max) {
            height: 67% !important;
          }
          @media only screen 
              and (min-device-width: 1024px) 
              and (max-device-width: 1366px) 
              and (orientation: landscape){
                height: 80% !important;
              }
          @include mq(phone-wide, max) {
            height: 46% !important;
          }
        }

        .slides{
          >div {
            // margin: auto;
            width: auto !important;
            height: 90% !important;

            @include mq(tablet-wide, max) {
              width: auto !important;
              height: 87% !important;
            }
            @include mq(tablet, max) {
              width: auto !important;
              height: 80% !important;
            }
            @media only screen 
              and (min-device-width: 1024px) 
              and (max-device-width: 1366px) 
              and (orientation: landscape){
                width: auto !important;
              height: 87% !important;
            }

            &:last-child{
              @include mq(tablet, max) {
                min-width: 65%;
              }
              @include mq(phone-wide, max) {
                min-width: 54%;
              }
            }
          }
        }

        h3 {
          margin-top: 6vh;
        }

        .centerNum {
          @include mq(tablet-wide, max) {
            margin-top: -14%;
          }
          @include mq(tablet, max) {
            margin-top: -15%;
            left: 28vw;
          }

          @media only screen 
          and (min-device-width: 1024px) 
          and (max-device-width: 1366px) 
          and (orientation: landscape){
            left: auto;
            margin-top: -14%;
          }
          @include mq(phone-wide, max) {
            left: auto;
            margin-top: -51%;
          }
        }

        .hzBarChartB {
          width: auto;
          height: 41vh;
          padding-top: 0;
          margin-left: -13vh;

          .barBack {
            height: 5vh;
          }

          @include mq(tablet, max) {
            height: 91% !important;
            // min-width: 65%;
            margin-left: -22vw;

            .barBack {
              height: 4vh;

              .barNum {
                margin-left: 5px;
              }
            }
          }
          @include mq(phone-wide, max) {
            // min-width: 75%;
            margin-left: -23vw;
          }
        }
      }

      &#section6 {
        h1 {
          margin-top: -5vh;
        }

        .flexBox {
          width: 80%;
          margin: auto;
          display: flex;
          align-items: flex-end;
          justify-content: space-around;
          margin-bottom: 2vh;

          >* {
            width: auto !important;
            max-width: 33.333% !important;
            height: 60vh !important;

            &:nth-child(2) {
              height: auto !important;

              >span {
                font-weight: 700;
                font-size: 2.5vh;
                margin-top: 1vh;
                display: block;
              }
            }
          }

          @include mq(tablet-mid, max) {
            width: 80%;
            margin: auto;
            align-items: flex-end;
            flex-direction: row;
            margin-bottom: 3vw;

            >* {
              height: 62vh !important;
            }
          }
          @include mq(phone-wide, max) {
            width: 90%;
          }
        }

        .legendBox {
          flex-direction: column;

          >li {
            width: 100%;
            justify-content: flex-start;
          }
        }

        strong {
          display: block;
          margin-top: 2vh;
          font-size: 3vh;
          font-weight: 900;

          @include mq(tablet-mid, max) {
            margin-top: 2vw;
            font-size: 5vw;
          }
        }
      }

      &#section8 {

        .flexCenter {
          height: 100%;
        }

        .boxLeft {
          position: relative;
          width: 50%;
          height: 100%;
          display: flex;
          align-items: center;
          justify-content: center;

          @include mq(tablet-mid, max) {
            width: 100%;
            height: 50%;
          }

          .circleBox {
            border-radius: 60vh;
            padding-bottom: 60vh;
            width: 60vh;
            height: 0;
            background-color: #5f9199;

            @include mq(tablet-mid, max) {
              border-radius: 70%;
              padding-bottom: 70%;
              width: 70%;
            }

            @include mq(tablet, max) {
              border-radius: 50%;
              padding-bottom: 50%;
              width: 50%;
            }

            @include mq(phone-wide, max) {
              border-radius: 70%;
              padding-bottom: 70%;
              width: 70%;
            }

            .circleNum {
              font-size: 7vh;

              .num {
                font-size: 10vh;
              }

              @include mq(tablet-mid, max) {
                font-size: 9vw;

                .num {
                  font-size: 12vw;
                }
              }
            }

            .txt {
              font-size: 5vh;

              @include mq(tablet-mid, max) {
                font-size: 5.5vw;
              }
              @include mq(tablet, max) {
                font-size: 4vw;
              }
              @include mq(phone-wide, max) {
                font-size: 5.5vw;
              }
            }
          }

          .qes {
            width: 100%;
            text-align: center;
            position: absolute;
            bottom: 12%;
            left: 50%;
            transform: translateX(-50%);

            @include mq(tablet-mid, max) {
              bottom: 1%;
              width: 90%;
              text-align: center;
            }
            
          }
        }

        .boxRight {
          width: 50%;
          height: 100%;
          background: url('../images/sec8_img.png') center no-repeat;
          background-size: cover;

          @include mq(tablet-mid, max) {
            width: 100%;
            height: 50%;
          }
        }
      }

      &#section9 {
        h1{
          margin-top: -5vh;
        }
        .flexWrap {
          display: flex;
          align-items: center;
          justify-content: center;
          flex-wrap: wrap;

          >* {
            width: 200px;
            margin: 1.5% 2.5%;

            @include mq(tablet-wide, max) {
              width: 170px;
              margin: 1.5%;
            }

            @include mq(tablet-mid, max) {
              width: 140px;
              margin: 3.5% 2%;
            }

            @include mq(phone-wide, max) {
              width: 110px;
            }

            @include mq(phone-mid, max) {
              width: 100px;
            }

            &:nth-child(1) {
              .circleBox {
                background-color: #7c5baf !important;
              }
            }

            &:nth-child(2) {
              .circleBox {
                background-color: #5f9199 !important;
              }
            }

            &:nth-child(3) {
              .circleBox {
                background-color: #7e7c43 !important;
              }
            }
          }

          @include mq(tablet-mid, max) {
            p {
              font-size: 3vw;
              line-height: 1.2;
            }
          }

          .circleBox {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            border-radius: 100%;
            width: 200px;
            height: 200px;
            margin-bottom: 1%;
            background-color: #a5a5a5;
            color: #fff;

            >span {
              font-weight: 500;
              font-size: 18px;
            }

            >img {
              width: auto;
            }

            .circleNum {
              font-size: 40px;
              font-weight: 800;
            }

            @include mq(tablet-wide, max) {
              width: 170px;
              height: 170px;
              .circleNum {
                font-size: 32px;
              }
            }

            @include mq(tablet-mid, max) {
              width: 140px;
              height: 140px;

              >span {
                font-size: 3vw;
              }

              >img {
                width: 40%;
              }

              .circleNum {
                font-size: 4.5vw;
              }
            }

            @include mq(phone-wide, max) {
              width: 110px;
              height: 110px;
            }

            @include mq(phone-mid, max) {
              width: 100px;
              height: 100px;
            }
          }
        }
      }

      &#section10 {

        h1{
          margin-top: -5vh;
        }

        .flexCenter {
          @include mq(tablet-mid, max) {
            flex-direction: row;
            flex-wrap: wrap;
          }

          .box {
            padding: 1.5% 2%;
            margin: 0 1%;
            border-radius: 8px;
            text-align: center;

            @include mq(tablet-mid, max) {
              width: 25%;
              padding: 2%;
              margin: 1%;
            }

            .circleNum {
              text-align: center;
              font-size: 2vh;
              color: #fff;
              font-weight: 900;

              .num {
                font-size: 4vh;
              }

              @include mq(tablet-mid, max) {
                font-size: 4vw;

                .num {
                  font-size: 6vw;
                }
              }
            }

            >img {
              margin: auto;
              margin-bottom: 1vh;
              ;
            }

            >span {
              display: block;
              margin-bottom: 0.5vh;
              text-align: center;
              font-size: 2.5vh;
              color: #fff;
              line-height: 1.2;
              font-weight: 300;

              @include mq(tablet-mid, max) {
                font-size: 3.5vw;
              }
            }
          }
        }

      }

      &#section13 {
        .hzBarChartB {
          max-width: 500px;
          margin: auto;
          height: 42vh;

          .lastTxt {
            &.larger {
              align-items: baseline;

              >strong {
                font-size: 4.5vh;
                font-weight: 800;
              }
            }

            &.smaller {
              font-size: 2.2vh;
              font-weight: 500;
            }
          }
        }
      }

      &#section14 {
        .slides {
          >* {
            &:first-child {
              margin-right: 5%;

              @include mq(tablet, max) {
                margin-right: 0;
              }

              @media only screen 
              and (min-device-width: 1024px) 
              and (max-device-width: 1366px) 
              and (orientation: landscape){
                margin-right: 5%;
              }

              @include mq(phone-wide, max) {
                margin-right: 5%;
              }
            }
          }

          >div {

            width: auto !important;
            height: 95% !important;

            @include mq(tablet-wide, max) {
              width: auto !important;
              height: 95% !important;
            }
            @include mq(tablet, max) {
              width: auto !important;
              height: 76% !important;
            }

            @media only screen 
              and (min-device-width: 1024px) 
              and (max-device-width: 1366px) 
              and (orientation: landscape){
                width: auto !important;
                height: 95% !important;
              }

            @include mq(phone-wide, max) {
              width: auto !important;
              height: 70% !important;
            }
          }

          @include mq(phone-wide, max) {
            canvas{
              height: 55%!important;
            }
          }

          .centerNum {
            margin-top: -6%;

            @include mq(tablet-wide, max) {
              margin-top: -6%;
            }

            @include mq(tablet, max) {
              left: auto;
            }

            @media only screen 
              and (min-device-width: 1024px) 
              and (max-device-width: 1366px) 
              and (orientation: landscape){
                margin-top: -6%;
              }

            @include mq(phone-wide, max) {
              left: auto;
              margin-top: 0;
            }
          }

          ul {
            list-style: decimal inside;

            li {
              font-size: 2.4vh;
              line-height: 2;
            }
          }
        }
      }

      &#section15 {
        .flexColumn {
          max-width: 830px;
          margin: auto;

          @include mq(phone-wide, max) {
            width: 100%!important;
            height: auto!important;
          }
        }

        .slides{
          
          @include mq(phone-wide, max) {
            height: 40vh !important;
          }
        }

        .flexBlock {
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          border-bottom: 1px solid #c9c9c9;
          padding: 2vh;

          p {
            font-size: 2.4vh;
            font-weight: 400;
            line-height: 3;

            strong {
              font-size: xx-large;
              font-weight: 800;
            }
          }

          @include mq(phone-wide, max) {
            padding: 4vw;
            p{
              line-height: 1.2;
              font-size: 5vw;
              strong {
                font-size: x-large;
              }
            }
          }
        }
      }

      &#section17 {
        .pieTxt {
          // border-radius: 35vh;
          // padding-bottom: 35vh;
          // width: 35vh;
          // height: 0;
          // background-color: #7c5baf;

          // @include mq(tablet-mid, max) {
          //   border-radius: 50%;
          //   padding-bottom: 50%;
          //   width: 50%;
          // }
          left: 50%;
          color: #fff;
          margin-top: -12%;

          .num {
            font-size: 6vh;
          }

          @include mq(tablet-wide, max) {
            margin-top: -14%;
            left: 50%;
            .num {
              font-size: 9vw;
            }
          }

          @include mq(phone-wide, max) {
            margin-top: -34%;
          }

          .txt {
            font-size: 2.5vh;

            @include mq(tablet-mid, max) {
              font-size: 3vw;
            }
          }
        }
      }

      &#section18 {
        .flexBox {
          >* {
            max-width: auto !important;

            @include mq(tablet-wide, max) {
              max-width: 65%!important;
            }

            @include mq(tablet, max) {
              margin-bottom: 0;
              max-width: 95%!important;
            }
            
            @include mq(phone-wide, max) {
              max-width: 92%!important;
              height: 29vh!important;
            }

            &:last-child{
              @include mq(tablet, max) {
                padding-top: 4vw;
              }
              @include mq(phone-wide, max) {
                padding-top: 4vw;
                h2{
                  margin-bottom: 2vw;
                }
              }
            }
          }
        }

        .hzBarChartA {
          height: 80%;
          // padding-top: 7vh;

          @include mq(tablet, max) {
            min-width: 600px;
            height: 89%;
            padding-top: 0;
          }

          @include mq(phone-wide, max) {
            height: 80%;
            min-width: 300px;
            padding-top: 0;
          }

          >* {
            display: flex;
            align-items: center;
            justify-content: stretch;
            width: 100%;

            >h5,
            >p {
              width: 20%;
              line-height: 1.2;
              @include mq(phone-wide, max) {
                width: 25%;
              }
            }

            >p {
              font-size: 2vh;

              &.larger {
                font-weight: 800;
                font-size: x-large;
              }

              @include mq(phone-wide, max) {
                font-size: 2vw;
                &.larger {
                  font-size: larger;
                }
              }
            }

            >div {
              width: 60%;
              flex-grow: 1;
              text-align: left;

              &.th {
                font-size: 2vh;
                font-weight: 500;
                line-height: 1.2;
              }

              @include mq(phone-wide, max) {
                width: 50%;

                &.th{
                  font-size: 3vw;
                }
              }
            }

            >.barBack {
              position: relative;
              width: 60%;
              height: 7vh;
              text-align: left;

              @include mq(tablet-mid, max) {
                height: 4vh;
              }
            }
          }
        }

        .circleBox {
          border-radius: 35vh;
          padding-bottom: 35vh;
          width: 35vh;
          height: 0;
          background-color: #7c5baf;

          @include mq(tablet-mid, max) {
            border-radius: 50%;
            padding-bottom: 50%;
            width: 50%;
          }

          @include mq(phone-wide, max) {
            border-radius: 50%;
            padding-bottom: 35%;
            width: 35%;
          }

          .circleNum {
            font-size: 5vh;
            font-weight: 400;

            .num {
              font-size: 7vh;
              font-weight: 900;
            }

            @include mq(tablet-mid, max) {
              font-size: 6vw;

              .num {
                font-size: 9vw;
              }
            }
            @include mq(tablet-mid, max) {
              font-size: 4vw;

              .num {
                font-size: 5vw;
              }
            }
            @include mq(phone-wide, max) {
              font-size: 5vw;
            }
          }

          .txt {
            font-size: 4vh;
            font-weight: 400;
            margin-top: 0;

            @include mq(tablet-mid, max) {
              font-size: 3.5vw;
            }
          }
        }

        .legendBox {
          margin-top: 2vh;

          li {
            &::before {
              display: none;
            }
          }

          @include mq(tablet, max) {
            margin-top: 0;
            li{
              padding: 3% 0;
            }
          }

          @include mq(phone-wide, max) {
            margin-top: 1vw;
            padding-left: 0;
            margin-left: 12vw;
            width: 95%;
            max-width: 100%;
            li{
              width: 35%;
              padding: 2% 0;
            }
          }
        }
      }

      &#section19 {
        ._slick {
          .slides {
            >* {
              width: auto !important;
              height: 48vh !important;

              @include mq(phone-wide, max) {
                height: 41vh !important;
              }

              .barChartA {
                height: 87%;
                max-width: 140px;
                min-width: 120px;
                margin: auto;
              }

              strong {
                font-size: 2vh;
                display: block;
                margin-top: 1vh;

                >span {
                  font-size: xx-large;
                  font-weight: 800;
                }
              }
            }

            .flexColumnEnd {
              display: flex;
              justify-content: flex-start;
              align-items: flex-end;
              padding-bottom: 5.8vh;

              .legendBox {
                li {
                  justify-content: stretch;
                  align-items: center;
                  min-width: 100%;
                }
              }
            }

            .hzBarChartB {
              padding-top: 0;

              .barBack {
                height: 5vh;
              }
            }
          }
        }
      }

      &#section20 {
        .qes {
          margin-top: 3vh;
        }

        .flexColumn {
          >.flexBlock {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: stretch;
            flex-wrap: wrap;
            border-bottom: 1px solid #c9c9c9;
            padding: 1vh 0;

            @include mq(tablet, max) {
              border: 0;
            }

            p {
              width: 12%;
              line-height: 1.2;

              @include mq(tablet, max) {
                width: 26%;
              }
            }

            img {
              width: 10%;
              max-width: 70px;
            }

            >span {
              display: block;
              width: 10%;
              font-size: 3vh;
              font-weight: 800;

              @include mq(tablet, max) {
                width: 22%;
              }
            }

            .barBack {
              width: 72%;
              // flex-grow: 1;
              position: relative;
              height: 7vh;
              text-align: left;

              .bar {
                position: absolute;
                left: 0;
                top: 0;
                width: 0;
                height: 100%;
                transition: 2s;
                display: flex;
                align-items: center;
                justify-content: flex-start;

                >span {
                  width: auto;
                  color: #fff;
                  font-size: 2vh;
                  margin-left: 20px;

                }
              }

              .bar0 {
                background-color: #a5a5a5;
              }

              .bar1 {
                background-color: #7c5baf;
              }

              .bar2 {
                background-color: #5f9199;
              }

              .bar3 {
                background-color: #7e7c43;
              }

              .bar4 {
                background-color: #eea23b;
              }

              .bar5 {
                background-color: #d6463c;
              }

              @include mq(tablet-wide, max) {
                width: 67%;
              }

              @include mq(tablet, max) {
                height: 5vh;
                width: 100%;
              }
            }

            >.flexColumn {
              // width: 80%;
              flex-grow: 1;

              .flexBlock {
                border-bottom: 0;

                // .barBack{
                //   width: 80%;
                //   flex-grow: 1;
                // }
                >span {
                  width: 11.4%;
                  font-size: 3vh;
                  font-weight: 800;

                  @include mq(tablet, max) {
                    width: 22%;
                  }
                }
              }
            }
          }
        }
      }

      &#section21 {
        h1 {
          margin-top: -8vh;
        }

        .flexWrap {
          display: flex;
          align-items: stretch;
          justify-content: space-between;
          flex-wrap: wrap;

          @include mq(tablet-mid, max) {
            width: 90%;
            margin: auto;
          }

          >* {
            width: 31%;
            margin-top: 3vh;

            h2 {
              display: block;
              font-size: 3vh;
              font-weight: 700;
              text-align: left;

              strong {
                font-size: 5vh;
                font-weight: 900;
                margin-right: 1vh;
              }
            }

            p {
              font-size: 2vh;
              line-height: 1.6;
              text-align: left;
            }

            @include mq(tablet-mid, max) {
              width: 46%;

              h2 {
                font-size: 3vw;
                margin-bottom: 2vw;

                strong {
                  font-size: 5vw;
                }
              }

              p {
                font-size: 2vw;
              }
            }

            @include mq(phone-wide, max) {
              width: 100%;
              margin-top: 2vw;

              h2 {
                font-size: 4vw;

                strong {
                  font-size: 4vw;
                }
              }

              p {
                font-size: 3vw;
              }
            }
          }
        }
      }

      &#section22 {
        .container {
          // padding-bottom: 13vh;

          @include mq(notebook, max) {
            padding-left: 25px;
            padding-right: 25px;
          }

          @include mq(tablet-wide, max) {
            padding-left: 4vw;
            padding-right: 4vw;
            // padding-bottom: 9vw;
            // padding-top: 0;
          }
        }

        h1 {
          margin-top: -8vh;
        }

        .title {
          font-size: 2.8vh;
          font-weight: 700;
          display: inline-block;
          color: #fff;
          padding: 15px 25px;
          position: absolute;
          top: -30px;
          left: -1px;
        }

        p {
          font-size: 2vh;
          line-height: 1.6;
          text-align: left;
        }

        @include mq(tablet-wide, max) {
          .title {
            font-size: 2vw;
            padding: 1vw 1.5vw;
            top: -2vw;
          }

          p {
            font-size: 1.5vw;
          }
        }

        @include mq(tablet, max) {
          .title {
            font-size: 3vw;
            padding: 1.5vw 2vw;
            top: -3vw;
          }

          p {
            font-size: 2.5vw;
          }
        }

        @include mq(phone-wide, max) {
          .title {
            font-size: 4vw;
            padding: 2.4vw;
            top: -4.2vw;
          }

          p {
            font-size: 3.2vw;
          }
        }

        .flexBox {
          margin-bottom: 3vh;

          // align-items: flex-start;
          >img {
            width: 20vh;
            max-width: 309px;
          }

          @include mq(tablet-wide, max) {
            margin-bottom: 2vw;

            // >img {
            //   width: 25%;
            // }
          }

          @include mq(tablet-mid, max) {
            flex-direction: row;

            // >img {
            //   width: 30%;
            // }
          }

          @include mq(phone-wide, max) {
            >img {
              display: none;
            }
          }
        }

        .box {
          position: relative;
          text-align: left;
          padding: 50px 25px 25px;

          @include mq(tablet-wide, max) {
            padding: 3vw 1.5vw 1vw;
          }

          @include mq(tablet, max) {
            padding: 5vw 2vw 2vw;
          }
        }

        .boxPurple {
          margin-right: 4vh;
          border: 1px solid #7c5baf;

          @include mq(tablet, max) {
            margin-right: 2vw;
            margin-top: 2vw;
            margin-bottom: 2vw;
          }

          @include mq(phone-wide, max) {
            margin-top: 4vw;
            margin-bottom: 5vw;
          }
        }

        .boxBlue {
          margin-bottom: 6vh;
          border: 1px solid #5f9199;

          @include mq(tablet-wide, max) {
            margin-bottom: 4.5vw;
          }

          @include mq(phone-wide, max) {
            margin-bottom: 7vw;
          }
        }

        .boxGreen {
          border: 1px solid #7e7c43;
        }
      }
      &#section23 {
        a{
          width: 90%;
          max-width: 580px;
          margin: auto;
        }
      }
    }
  }

  .slick-arrow {
    z-index: 40;
    width: 100px !important;

    @include mq(notebook, max) {
      width: 60px !important;
    }
    @include mq(tablet-small, max) {
      width: 40px !important;
  }
}


.slick-prev {
    height: 100%;

    @include mq(notebook, max) {
      left:0;
    }

    [dir="rtl"] & {
      @include mq(notebook, max) {
        right:0;
      }
    }

    &:before {
        width: 100%;
        height: 100%;
        background: url('../images/icons/slick-prev.png') right center no-repeat;
        background-size: 50px 50px;
        content: '';
        display: block;
        // animation: leftarrow 1.8s infinite;
        animation-name: leftarrow;
        animation-duration:1.8s;
        animation-iteration-count:infinite;
        animation-timing-function:linear;
        transition: 0.4s;
        opacity: 0.6;

        @include mq(tablet-small, max) {
            background-size: 30px 30px;
        }

        [dir="rtl"] & {
            width: 100%;
            height: 100%;
            background: url('../images/icons/slick-next.png') left center no-repeat;
            background-size: 50px 50px;
            display: block;
            content: '';

            @include mq(tablet-small, max) {
                background-size: 30px 30px;
            }
        }
    }
}

.slick-next {
    height: 100%;

    @include mq(notebook, max) {
      right:0;
    }

    [dir="rtl"] & {
        right: initial;

        @include mq(notebook, max) {
          left:0;
        }
    }

    &:before {
        width: 100%;
        height: 100%;
        background: url('../images/icons/slick-next.png') left center no-repeat;
        background-size: 50px 50px;
        display: block;
        content: '';
        // animation: rightarrow 1.8s infinite;
        animation-name: rightarrow;
        animation-duration:1.8s;
        animation-iteration-count:infinite;
        animation-timing-function:linear;
        transition: 0.4s;
        opacity: 0.6;

        @include mq(tablet-small, max) {
            background-size: 30px 30px;
        }

        [dir="rtl"] & {
            // content: "??;
            width: 100%;
            height: 100%;
            background: url('../images/icons/slick-prev.png') right center no-repeat;
            background-size: 50px 50px;
            display: block;
            content: '';

            @include mq(tablet-small, max) {
                background-size: 30px 30px;
            }
        }
    }
  }

  .slick-disabled{
    opacity: 0;
    pointer-events: none;
  }

  @-webkit-keyframes rightarrow {
    0% { transform: translateX(0); opacity: 0.6;}
    50% { transform: translateX(10px); opacity: 1;}
    100% { transform: translateX(0); opacity: 0.6;}
  }
  @-webkit-keyframes leftarrow {
    0% { transform: translateX(0); opacity: 0.6;}
    50% { transform: translateX(-10px); opacity: 1;}
    100% { transform: translateX(0); opacity: 0.6;}
  }
  @keyframes rightarrow {
    0% { transform: translateX(0); opacity: 0.6;}
    50% { transform: translateX(10px); opacity: 1;}
    100% { transform: translateX(0); opacity: 0.6;}
  }
  @keyframes leftarrow {
    0% { transform: translateX(0); opacity: 0.6;}
    50% { transform: translateX(10px); opacity: 1;}
    100% { transform: translateX(0); opacity: 0.6;}
  }

  @-webkit-keyframes scrollDown {
    0% { bottom: 14%;}
    50% { bottom: 12%;}
    100% { bottom: 14%;}
  }
  @keyframes scrollDown {
    0% { bottom: 14%;}
    50% { bottom: 12%;}
    100% { bottom: 14%;}
  }
}