@charset "UTF-8";
/* base */
/*==================================================*\
        Mixins
\*==================================================*/
/*** Pseudo Class ***/
/** 
 * div:after{
 *     @include pseudo;
 *     top: -1rem; left: -1rem;
 *     width: 1rem; height: 1rem;
 * }
 */
/*** Media Queries (Mobile First) ***/
/**
* .site-header {
*     padding: 2rem;
*     font-size: 1.8rem;
*
*     @include mq('tablet-wide') {
*         padding-top: 4rem;
*         font-size: 2.4rem;
*     }
* }
*/
/*** Input Placeholder Style ***/
/**
* input,  
* textarea {  
*     @include placeholderStyle {
*         color: $grey;
*     }
* }
*/
/*** Flexbox Setting ***/
/**
*	example:
*	.element {
*      @include setFlex(stretch, space-between);
*	}
*/
/*** Responsive Ratio ***/
/**
* .ifr-wrap{
*     @include responsive-ratio(16,9);
* }
*/
/*** z-index Setting ***/
/**
* example:
* .site-header {
*     z-index: z("lightbox");
* }
*/
/*** Width && Height ***/
/**
*	example:
*	.element {
*      @include wh(100%);
*	}
*/
/*** Full Page Popup ***/
/**
*	example:
*	.element {
*      @include fullPopup();
*	}
*/
/*** Arrow ***/
/**
*  $direction:
*    1: ↑
*    2: →
*    3: ↓
*    4: ←
*	example:
*	.element {
*      @include arrow($bdc: #000000);
*	}
*/
/*** Triangle ***/
/**
*  $direction:
*    1: ↑
*    2: →
*    3: ↓
*    4: ←
*	example:
*	.element {
*      @include artrianglerow($bdc: #000000);
*	}
*/
/*** Text Indent ***/
/**
*  有前綴符號或文字，但又需要文字對齊時使用
*	example:
*	.element {
*      @include textIndent(7px);
*	}
*/
/*
*******************************************************************************************************************************
----------  RESET
*******************************************************************************************************************************
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

:focus {
  outline: 0;
}

ins {
  text-decoration: none;
}

del {
  text-decoration: line-through;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* pc */
/* -------------
    $ scss
------------- */
/* font */
/* color */
/* mixin */
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

/* -------------
    ALL USE
------------- */
img {
  width: 100%;
  display: block;
}

a {
  display: block;
  text-decoration: none;
}

.c {
  clear: both;
}

.table {
  display: table;
}

.tr {
  display: table-row;
}

.th, .td {
  display: table-cell;
  vertical-align: middle;
}

.hide {
  display: none;
}

.ab {
  position: absolute;
}

.clearfix:after {
  content: "";
  display: block;
  clear: both;
}

.float-l {
  float: left;
}

.float-r {
  float: right;
}

._m {
  display: none;
}

@media screen and (max-width: 768px) {
  ._m {
    display: block;
  }
}

@media screen and (max-width: 768px) {
  ._pc {
    display: none;
  }
}

.autoW {
  width: auto;
}

/* vw換算 */
@-webkit-keyframes aniPlay {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 0 100%;
  }
}

@keyframes aniPlay {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 0 100%;
  }
}

@-webkit-keyframes leftar {
  0% {
    right: 12%;
  }
  50% {
    right: 15%;
  }
  100% {
    right: 12%;
  }
}

@keyframes leftar {
  0% {
    right: 12%;
  }
  50% {
    right: 15%;
  }
  100% {
    right: 12%;
  }
}

/* main */
/* BODY,HTML
--------------------------------------------------------------------------------------*/
html,
body {
  width: 100%;
  background-color: #000;
  overflow: hidden;
}

html {
  -webkit-text-size-adjust: 100%;
}

a:focus,
a:visited,
a:active,
span:active {
  background: transparent;
  outline: none;
  outline-offset: none;
}

/* 架構
--------------------------------------------------------------------------------------*/
.wrapper {
  width: 100%;
  position: relative;
}

.sec {
  width: 100%;
  position: relative;
}

.container {
  max-width: 1920px;
  width: 100%;
  margin: auto;
  position: relative;
  padding: 0;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

/* 共用
--------------------------------------------------------------------------------------*/
.sectitle {
  width: 95%;
  max-width: 269px;
  margin: auto;
  margin-bottom: 45px;
}

@media screen and (max-width: 1160px) {
  .sectitle {
    width: 42%;
  }
}

@media screen and (max-width: 768px) {
  .sectitle {
    width: 70%;
    max-width: 100%;
  }
}

/* header
--------------------------------------------------------------------------------------*/
.myheader {
  position: relative;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  background: #666;
  height: 50px;
}

@media screen and (max-width: 768px) {
  .myheader {
    height: 14vw;
    background: #f4f4f4;
  }
}

.intro .main_nav {
  width: 100%;
  position: relative;
  padding-top: 10%;
  margin: 0 auto;
}

.intro .main_nav ul {
  position: relative;
  width: 100%;
  margin: 0 auto;
  height: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.intro .main_nav ul li {
  position: relative;
  width: auto;
  margin: 0 auto;
}

.intro .main_nav ul li:nth-child(1) {
  -webkit-transform: translateX(384%);
          transform: translateX(384%);
}

.intro .main_nav ul li:nth-child(2) {
  -webkit-transform: translateX(192%);
          transform: translateX(192%);
}

.intro .main_nav ul li:nth-child(4) {
  -webkit-transform: translateX(-192%);
          transform: translateX(-192%);
}

.intro .main_nav ul li:nth-child(5) {
  -webkit-transform: translateX(-384%);
          transform: translateX(-384%);
}

.intro .main_nav ul a {
  background-color: #fff;
  border-radius: 100px;
  font-size: 50px;
  font-weight: bold;
  height: 200px;
  width: 200px;
  margin: auto;
  color: #000;
  text-align: center;
  vertical-align: middle;
  line-height: 4;
}

.intro .main_nav.ready ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.intro .main_nav.ready ul li {
  position: relative;
  width: auto;
}

.intro .main_nav.ready ul a {
  position: relative;
}

.intro .name {
  color: #fff;
  font-size: 100px;
  text-align: center;
  margin-top: 5%;
}

.sec {
  margin-top: 2.5%;
}

@media screen and (max-width: 768px) {
  .sec {
    margin-top: 10%;
  }
}

.sec .btnbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (max-width: 768px) {
  .sec .btnbox {
    margin-left: 0;
  }
}

.sec .btnbox .bt {
  width: 35%;
  height: 50px;
  margin: 0 20px;
}

@media screen and (max-width: 768px) {
  .sec .btnbox .bt {
    width: 50%;
    height: 50px;
    margin: auto;
  }
}

.sec .btnbox .bt2 {
  width: 35%;
  height: 50px;
  margin: 0 20px;
}

@media screen and (max-width: 768px) {
  .sec .btnbox .bt2 {
    width: 45%;
    height: 50px;
    margin: 0 10px;
  }
}

.sec .btnbox .btn,
.sec .btnbox .btn2 {
  outline: none;
  overflow: hidden;
  padding: 8px 3px;
  letter-spacing: 2px;
  margin: 0 20px;
  color: #fff;
}

@media screen and (max-width: 768px) {
  .sec .btnbox .btn,
  .sec .btnbox .btn2 {
    padding: 1.30208vw 0.65104vw;
  }
}

.sec .btnbox .btn span,
.sec .btnbox .btn2 span {
  position: relative;
  font-weight: bold;
  font-size: 16px;
  color: #000;
  padding-bottom: 1%;
  border-bottom: 2px #000 solid;
}

@media screen and (max-width: 768px) {
  .sec .btnbox .btn span,
  .sec .btnbox .btn2 span {
    padding: 1.17188vw 6.51042vw;
    font-size: 4.55729vw;
  }
}

.sec .btnbox .btn.on,
.sec .btnbox .btn2.on {
  padding: 8px 0px;
  border-radius: 30px;
  background-color: #000;
  color: #fff;
}

@media screen and (max-width: 768px) {
  .sec .btnbox .btn.on,
  .sec .btnbox .btn2.on {
    padding: 1.04167vw 0vw;
  }
}

.sec .btnbox .btn.on span,
.sec .btnbox .btn2.on span {
  color: #fff;
  padding: 10px 20px;
}

.sec .btnbox .btn:hover,
.sec .btnbox .btn2:hover {
  padding: 8px 0px;
  border-radius: 30px;
  background-color: #000;
  color: #fff;
}

@media screen and (max-width: 768px) {
  .sec .btnbox .btn:hover,
  .sec .btnbox .btn2:hover {
    padding: 1.43229vw 0.39062vw;
  }
}

.sec .btnbox .btn:hover span,
.sec .btnbox .btn2:hover span {
  color: #fff;
  padding: 10px 20px;
}

.sec .btnbox .btn2 {
  padding: 2px 3px;
  margin: 0;
}

.sec .btnbox .btn2:hover {
  padding: 3px 4px;
}

.sec .btnbox .btn2:hover span {
  font-size: 18px;
  padding: 4px 0;
}

@media screen and (max-width: 768px) {
  .sec .btnbox .btn2:hover span {
    font-size: 4vw;
    padding: 3px 0px;
  }
}

.sec .btnbox .btn2 span {
  padding: 3px 12px;
  padding-top: 5px;
  display: inline-block;
  width: 100%;
}

@media screen and (max-width: 768px) {
  .sec .btnbox .btn2 span {
    font-size: 3.5vw;
    padding: 3px 0px;
  }
}

/* lightbox
--------------------------------------------------------------------------------------*/
.lb {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.8);
  z-index: -1;
  opacity: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.lbbox {
  width: 65%;
  max-width: 1200px;
  margin: auto;
  position: relative;
}

@media screen and (max-width: 768px) {
  .lbbox {
    width: 90%;
  }
}

.lbbox .btn_x {
  width: 40px;
  position: absolute;
  top: -50px;
  right: -50px;
  cursor: pointer;
}

@media screen and (max-width: 1366px) {
  .lbbox .btn_x {
    top: 0;
    right: -60px;
  }
}

@media screen and (max-width: 768px) {
  .lbbox .btn_x {
    width: 5.20833vw;
    top: -8vw;
    right: 0;
  }
}

.videoWrapper {
  position: relative;
  padding-bottom: 54.2%;
  /* 16:9 */
  padding-top: 25px;
  height: 0;
}

.videoWrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* loading -----------------------------------------------------------*/
.loading {
  background: #000;
}

@font-face {
  font-family: 'DFHsiuW3-B5';
  src: url("../font/DFHsiu-W3-WIN-BF.woff2") format("woff2"), url("../font/DFHsiu-W3-WIN-BF.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/* ani -----------------------------------------------------------*/
.playani .btn_nav .line span:nth-child(1) {
  -webkit-animation: btnani 0.5s linear forwards;
          animation: btnani 0.5s linear forwards;
}

.playani .btn_nav .line span:nth-child(2) {
  -webkit-animation: btnani 0.5s linear forwards;
          animation: btnani 0.5s linear forwards;
  -webkit-animation-delay: .3s;
          animation-delay: .3s;
}

.playani .btn_nav .line span:nth-child(3) {
  -webkit-animation: btnani2 0.5s linear forwards;
          animation: btnani2 0.5s linear forwards;
  -webkit-animation-delay: .6s;
          animation-delay: .6s;
}

.playani .btn_nav .txt {
  -webkit-animation: btntxt 0.5s 0.5s ease-in-out forwards;
          animation: btntxt 0.5s 0.5s ease-in-out forwards;
}

.playani .sidebar {
  -webkit-animation: sideani 2s ease-in-out forwards;
          animation: sideani 2s ease-in-out forwards;
}
/*# sourceMappingURL=css.css.map */