/*==================================================*\
        Layout
\*==================================================*/

/*==================== Document ====================*/
html, 
body {
  width: 100%;
  height: 100%;
  font-family: $font-stack;
  background-color: #f3fafd;
  -webkit-overflow-scrolling: touch;
  -webkit-font-smoothing: antialiased;
}

html {
  height: 100%;
  font-size: $rootFz + px;
}

body {
  position: relative;
  overflow-x: hidden;
  overflow-y: visible;
  line-height: 1;
}

*{
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  border: none;
  outline: none;
  line-height: 1;
  // -webkit-user-select: none;
  //   -moz-user-select: none;
  //   -ms-user-select: none;
  //    user-select: none;
}

img{
  width: auto;
}

p{
  width: 100%;
  display: inline-block;
}

.anchor {
  position: relative;
  height: 0px;
  width: 100%;
}

.anchor article {
  width: 100%;
  position: absolute;
  left: 0px;
  top: -62px;
  visibility: hidden;
  @include mq(tablet, max) {
      top: 0;
  }
}

/*==================== Container ====================*/
main {
  // height: 100%;
  position: relative;
  overflow-x: hidden;
  overflow-y: visible;
  z-index: 3;
  section{
    width: 100%;
    position: relative;
    background: transparent;
    .container {
      width: 100%;
      position: relative;
      max-width: 1200px;
      margin: auto;
      // overflow: hidden;
    }
  }
}


#goTop{
  width: 54px;
  height: auto;
  position: fixed;
  right: 20px;
  bottom: 90px;
  opacity: 0;
  z-index: 900;
  pointer-events: none;
  transition: all $duration-slow;
  cursor: pointer;

  @include mq(tablet-small, max) {
    width: 40px;
    right: 3vw;
    bottom: 14vw;
  }

  &:hover{
    transform: scale(0.95);
  }
}

.abs {
  position: absolute;
  top: 0;
  left: 0;
}

.fp-bg{
  top: 0;
  bottom: 0;
  width: 100%;
  position: absolute;
  z-index: -1;
  background-size: cover;
  transform: translate3d(0,0,0);
  -webkit-backface-visibility: hidden; /* Chrome, Safari, Opera */
    backface-visibility: hidden;
}

.fcPurple{
  color: #7c5baf !important;
}

.fcBlue{
  color: #5f9199 !important;
}

.fcGreen{
  color: #7e7c43 !important;
}

.fcYellow{
  color: #eea23b !important;
}

.fcRed{
  color: #d6463c !important;
}

.fcBrown{
  color: #855c3e !important;
}

.bgPurple{
  background-color: #7c5baf;
}
.bgBlue{
    background-color: #5f9199;
}
.bgGreen{
    background-color: #7e7c43;
}
.bgYellow{
    background-color: #eea23b;
}
.bgRed{
    background-color: #d6463c;
}
.bgBrown{
  background-color: #855c3e;
}

._link{
  display: inline;
}

#fp-nav ul li a span, .fp-slidesNav ul li a span{
  background: #6c6c6c;
}

.tempHide{
  opacity: 0;
  height: 0 !important;
  width: 0 !important;
}

.show{
  display: block;
}
.hide{
  display: none !important;
}

.showD{
  display: block !important;
  @include mq(tablet, max) {
    display: none !important;
  }
}
.showM{
  display: none !important;
  @include mq(tablet, max) {
    display: block !important;
  }
}
.showMT{
  display: none;
  @include mq(tablet-wide, max) {
    display: block;
  }
}
.showMinline{
  display: none;
  @include mq(tablet, max) {
    display: inline;
  }
}
.showDinline{
  display: inline;
  @include mq(tablet, max) {
    display: none;
  }
}
