/*==================================================*\
        Page Header
\*==================================================*/

.page-header {
  width: 100%;
  z-index: 999;
  position: fixed;
  top: 0; left: 0;
  transition: all $duration-std;
  height: 65px;
  line-height: 2;

  // @include mq(phone-wide, max) {
  //   height: 60px;
  // }

  .container {
    width: 100%;
    max-width: 1400px;
    margin: auto;
    position: relative;
    // margin: auto;
    height: 100%;
    padding: 0 40px;
    @include set-flex(center, flex-start);
    @include mq(tablet, max) {
      max-width: 100%;
      padding: 0 20px;
    }
  }

  &.menuOpen {
    .hamburger {
      > div{
        div.line{
          background: #FFF;
          &:first-child{
            width: 35px;
            transform: rotate(45deg);
            transform-origin: 4px 8px;
          }
          &:last-child{
            width: 35px;
            transform: rotate(-45deg);
            transform-origin: 7px -3px;
          }
          &:nth-child(2){
            width: 35px;
            opacity: 0;
          }
        }
      }
      // line {
      //   &:first-of-type {
      //     transform: rotate(45deg);
      //   }
        
      //   &:nth-of-type(2) {
      //     opacity: 0;
      //   }
  
      //   &:last-of-type {
      //     transform: rotate(-45deg);
      //   }
      // }
    }
    .menuOverlay{
      display: block;
      opacity: 0.5;
    }
  }
}

.header-top {
  height: 100%;
  background: #fff;

  img {
    width: 100%;
  }
}

.logo {
  @include set-flex(center, flex-start);
  z-index: 9999;
  > a{
    // margin-right: 20px;
    @include mq(tablet, max) {
      max-width: 80%;
    }
    img{
      width: 100%;
      height: auto;
    }
  }

}

.header-nav {
  // width: 60%;
  z-index: 999;
  // @include set-flex(center, space-between);
  @include mq(tablet-wide, max) {
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0; right: -100%;
    // padding-top: 80px;
    transition: 0.4s;
    overflow: hidden;
    background: url("../images/menubg.jpg") center no-repeat;
    background-size: cover;
  }
  
  .nav {
    width: 100%;
    
    @include set-flex(center, flex-end);
    @include mq(tablet-wide, max) {
      // display: none;
      position: relative;
      top: 0;
      right: 0;
      justify-content: center;
      flex-direction: column;
      // overflow: hidden;
      width: 100%;
      height: 100%;
      transition: .3s;
      // overflow-y: auto;
      &::-webkit-scrollbar-track
      {
        border-radius: 1px;
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0);
        background-color: #ffffff00;
      }
      &::-webkit-scrollbar
      {
        border-radius: 1px;
        width: 0px;
        height: 0px;
        background-color: #ffffff00;
      }
      &::-webkit-scrollbar-thumb
      {
        border-radius: 1px;
        background-color: #ffffff00;
      }

      &.out{
        right: 100%;
      }
    }
  }

  .navList {
    
    // width: 24%;
    height: 100%;
    transition: all $duration-fast;
    display: flex;
    align-items: stretch;
    justify-content: stretch;
    position: relative;
    user-select: none;

    @include mq(tablet-wide, max){
      position: initial;
    }

    &:not(:last-of-type){
      margin-right: 60px;
    }

    >a{
      position: relative;
      z-index: 2;
      p{
        &:after{
          opacity: 0;
          content: '';
          display: block;
          position: absolute;
          width: 0;
          height: 12px;
          color: transparent;
          left: -5px; bottom: 0;
          background: url('../images/icons/waveline.png') left center repeat-x;
          background-size: contain;
          transition: all 0.4s;

          @include mq(tablet-wide, max) {
            bottom: -9px;
          }
        }
      }
    }

    // @include mq(tablet-wide, max) {
    //   &:not(:last-of-type){
    //     margin-right: 2.5%;
    //   }
    // }
    
    @include mq(tablet-wide) {
      &:hover, &.active{
        >a>p{
          color: #02f9ff;
          &:after{
            opacity: 1;
            width: calc(100% + 10px);
          }
        }
        // .sub-nav{
        //   opacity: 1;
        //   top: 120%;
        //   visibility: visible;
        //   pointer-events: auto;
        // }
      }
    }


    @include mq(tablet-wide, max) {
      width: 100%;
      height: auto;
      margin-right: 0;
      flex-direction: column;
      display: flex;
      align-items: stretch;
      justify-content: space-between;
      width: 100%;
      text-align: left;
      padding: 0;
      &.active{
        >a>p{
          color: #02f9ff;
          &:after{
            opacity: 1;
            width: calc(100% + 10px);
          }
        }
      }
      &:not(:last-of-type){
        margin-right: 0;
      }
      >a{
        &:before {
          display: none;
        }
        p{
          color: #FFF;
          line-height: 1;
        }
      }
      &:not(._hasSub){
        &.active {
          p{
            color: #FFF;
          }
        }
      }
    }
    


    .subNav{
      transition: .3s;
      width: 200px;
      position: absolute;
      background-color: rgba(0, 0, 0, 0.72);
      padding: 1.375rem 0;
      top: 40%;
      left: -60px;
      font-size: 0;
      opacity: 0;
      pointer-events: none;
      
      @include mq(tablet-wide, max) {
        
        padding: 0;
        width: 100%;
        background-color: transparent;
        position: absolute;
        top: 0;
        opacity: 0;
        pointer-events: none;
        left: 100%;
        z-index: 3;
        &.active{
          opacity: 1;
          pointer-events: auto;
        }
        p{
          color: #000;
          line-height: 1;
        }
      }
      .subNavTitle{

        background-color: #d8d8d8;
        font-size: 0;
        position: relative;
        display: none;
        @include mq(tablet-wide, max){
          display: block;
        }
        p{
          padding: 20px;
          @include set-flex();
        }
        &::before{
          content: '';
          display: block;
          width: 14px;
          height: 14px;
          border-top: 3px solid #02f9ff;
          border-right: 3px solid #02f9ff;
          position: absolute;
          top: 37%;
          left: 30px;
          transform: rotate(-135deg);
        }
      }
      .subNavList{
        &:not(:last-child){
          margin-bottom: 1.375rem;
          @include mq(tablet-wide, max) {
            margin-bottom: 0;
            border-bottom: 1px solid #e1e1e1;
          }
        }
        &.subNavTitle{
          display: none;
          @include mq(tablet-wide, max) {
            display: block;
          }
        }
      }
      a{
        text-align: center;
        padding: 0;
        line-height: 1;
        display: block;
        @include mq(tablet-wide, max) {
          padding: 20px;
        }
        &:hover{
          p{
            color: #02f9ff;
          }
        }
      }
    }

    &._hasSub{
      &:hover{
        .subNav{
          top: 100%;
          opacity: 1;
          pointer-events: auto;
          @include mq(tablet-wide, max){
            top: 0;
          }
        }
      }
      
      @include mq(tablet-wide, max) {
        >a{
          position: relative;
          &::before{
            content: '';
            display: block;
            width: 14px;
            height: 14px;
            border-top: 3px solid #02f9ff;
            border-right: 3px solid #02f9ff;
            position: absolute;
            top: 37%;
            right: 30px;
            transform: rotate(45deg);
          }
        }
      }
    }
  }

  a {
    &.btnFbM{
      padding: 25px 25px;
      max-width: 180px;
    }
    &:not(.btnFbM){
      padding: 20px 0;
      width: 100%;
      p{
        display: block;
        text-align: center;
      }
    }

    @include mq(tablet-wide, max) {
      justify-content: flex-start;
      &:not(.btnFbM) {
        padding: 25px 25px;
        width: 100%;
        text-align: center;
        p{
          display: inline;
          text-align: center;
        }
      }
    }

    @include mq(phone-mid, max) {
      &:not(.btnFbM) {
        padding: 20px;
      } 
    }
  }
  
  p {
    transition: all $duration-slow;
    display: flex;
    align-items: center;
    color: $c-white;
    font-size: size-rem(18);
    font-weight: bold;
    // line-height: 2.93;
    text-align: center;
    position: relative;
    
    // line-height: 1em;
    padding: 2px 0;

    @include mq(tablet-wide, max) {
      font-size: size-rem(22);
    }

    @include mq(phone-mid, max) {
      font-size: size-rem(18);
    }
  }
}

// .sub-nav{
//   transition: .3s;
//   width: 100%;
//   position: absolute;
//   z-index: 0;
//   top: -400%;
//   left: 0;
//   visibility: hidden;
//   opacity: 0;
//   a{
//     text-align: center;
//     height: 75px;
//     padding: 0 !important;
//     background-color: #004f78;
//     width: 100%;
//     color: #FFF;
//     font-weight: 600;
//     font-size: size-rem(18);
//     display: block;
//     transition: .3s;
//     &:not(:last-child){
//       border-bottom: 1px solid #1a6186;
//     }
//     &::before{
//       content: "";
//       height: 100%;
//       width: 0;
//       display: inline-block;
//       vertical-align: middle;
//     }
//     img{
//       width: auto;
//       margin: auto;
//       display: inline-block;
//       vertical-align: middle;
//     }
//     &:hover{
//       background-color: $c-blue-discovery;
//     }
//   }
//   @include mq(tablet-wide, max) {
//     position: relative;
//     top: auto;
//     visibility: visible;
//     opacity: 1;
//   }
// }

.header-left {
  @include set-flex();
}

.hamburger {
  // width: 70px;
  // height: auto;
  // margin-right: 4%;
  // padding: 4px;
  // position: absolute;
  // top: 0;
  // right: 15px;

  // fill:#3da8d9;
  position: fixed;
  top: 0; right: 0;
  z-index: 9999;
  pointer-events:all; //needs to be there so the hover works
  border: none;
  // padding: 0.8em 1.4em 0.5em 1.4em;
  width: 65px;
  height: 65px;
  &:focus:not(:focus-visible) {
    outline: 0;
  }

  > div{
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    div.line{
      width: 35px;
      height: 3px;
      margin-bottom: 7px;
      background: #FFF;
      border-radius: 10px;
      opacity: 1;
      transition: transform 0.2s ease-in;
      &:first-child{
        width: 35px;
        transform: rotate(0);
      }
      &:last-child{
        margin-bottom: 0;
        width: 35px;
        transform: rotate(0);
      }
      &:nth-child(2){
        width: 35px;
      }
    }
  }
}


.menuOverlay{
  @include full-popup(#000);
  display: none;
  opacity: 0;
  z-index: 0;
}