@font-face {
    font-family: 'Samsung Sharp Sans';
    src: url('../font/SamsungSharpSans-Bold.eot'), 
    	 url('../font/SamsungSharpSans-Bold.eot?#iefix') format('embedded-opentype')
    	 url('../font/SamsungSharpSans-Bold.woff2') format('woff2'),
         url('../font/SamsungSharpSans-Bold.woff') format('woff'),
         url('../font/SamsungSharpSans-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

// @font-face {
//     font-family: 'Samsung Sharp Sans';
//     src: url('../font/SamsungSharpSans-Regular.woff2') format('woff2'),
//         url('../font/SamsungSharpSans-Regular.woff') format('woff');
//     font-weight: bold;
//     font-style: normal;
//     font-display: swap;
// }

// @font-face {
//     font-family: 'Samsung Sharp Sans';
//     src: url('../font/SamsungSharpSans-Medium.woff2') format('woff2'),
//         url('../font/SamsungSharpSans-Medium.woff') format('woff');
//     font-weight: 500;
//     font-style: normal;
//     font-display: swap;
// }