@charset "utf-8";

@include keyframes(boxani) {
    0% { 
      transform: translateY(0);
    }
    5% { 
      transform: translateY(-2%);
    }
    10% { 
      transform: translateY(0);
    }
    15% { 
      transform: translateY(-2%);
    }
    20% { 
      transform: translateY(0);
    }
    25% { 
      transform: translateY(-2%);
    }
    30% { 
      transform: translateY(0);
    }
    35% { 
      transform: translateY(-2%);
    }
    40% { 
      transform: translateY(0);
    }
    100% { 
      transform: translateY(0);
    }
}

@include keyframes(aniPlay) {
    from { background-position: 0 0; }
    to { background-position: 0 100%; } 
}

