@charset "UTF-8";
/* base */
/*
*******************************************************************************************************************************
----------  RESET
*******************************************************************************************************************************
*/
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wght@900&display=swap");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

:focus {
  outline: 0;
}

ins {
  text-decoration: none;
}

del {
  text-decoration: line-through;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* -------------
    $ scss
------------- */
/* font */
/* color */
/* mixin */
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

/* -------------
    ALL USE
------------- */
img {
  width: 100%;
  display: block;
}

a {
  display: block;
  text-decoration: none;
}

.c {
  clear: both;
}

.table {
  display: table;
}

.tr {
  display: table-row;
}

.th, .td {
  display: table-cell;
  vertical-align: middle;
}

.hide {
  display: none;
}

.ab {
  position: absolute;
}

.clearfix:after {
  content: "";
  display: block;
  clear: both;
}

.float-l {
  float: left;
}

.float-r {
  float: right;
}

._m {
  display: none;
}

@media screen and (max-width: w768px) {
  ._m {
    display: block;
  }
}

@media screen and (max-width: w768px) {
  ._pc {
    display: none;
  }
}

.autoW {
  width: auto;
}

/* vw換算 */
@-webkit-keyframes aniPlay {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 0 100%;
  }
}

@keyframes aniPlay {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 0 100%;
  }
}

@-webkit-keyframes leftar {
  0% {
    right: 12%;
  }
  50% {
    right: 15%;
  }
  100% {
    right: 12%;
  }
}

@keyframes leftar {
  0% {
    right: 12%;
  }
  50% {
    right: 15%;
  }
  100% {
    right: 12%;
  }
}

/* main */
/* BODY,HTML
--------------------------------------------------------------------------------------*/
html,
body {
  width: 100%;
  background-color: #fff;
  overflow: hidden;
  font-family: 'Noto Sans Mono', monospace, 'Noto Sans TC', sans-serif;
}

html {
  -webkit-text-size-adjust: 100%;
}

a:focus,
a:visited,
a:active,
span:active {
  background: transparent;
  outline: none;
  outline-offset: none;
}

/* 架構
--------------------------------------------------------------------------------------*/
.wrapper {
  width: 100%;
  position: relative;
}

section {
  width: 100%;
  position: relative;
}

.container {
  max-width: 1920px;
  width: 100%;
  margin: auto;
  position: relative;
  padding: 0;
}

/* 共用
--------------------------------------------------------------------------------------*/
.sectitle {
  width: 95%;
  max-width: 269px;
  margin: auto;
  margin-bottom: 45px;
}

@media screen and (max-width: 1160px) {
  .sectitle {
    width: 42%;
  }
}

@media screen and (max-width: 768px) {
  .sectitle {
    width: 70%;
    max-width: 100%;
  }
}

/* header
--------------------------------------------------------------------------------------*/
.myheader {
  position: relative;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  background: #666;
}

@media screen and (max-width: 768px) {
  .myheader {
    height: 14vw;
    background: #f4f4f4;
  }
}

/* 共用
--------------------------------------------------------------------------------------*/
.section .page {
  width: 100%;
}

.section .btnbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (max-width: 768px) {
  .section .btnbox {
    margin-left: 0;
  }
}

.section .btnbox .bt {
  width: 35%;
  height: 50px;
  margin: 0 20px;
}

@media screen and (max-width: 768px) {
  .section .btnbox .bt {
    width: 50%;
    height: 50px;
    margin: auto;
  }
}

.section .btnbox .bt2 {
  width: 35%;
  height: 50px;
  margin: 0 20px;
}

@media screen and (max-width: 768px) {
  .section .btnbox .bt2 {
    width: 45%;
    height: 50px;
    margin: 0 10px;
  }
}

.section .btnbox .btn,
.section .btnbox .btn2 {
  outline: none;
  overflow: hidden;
  padding: 8px 3px;
  letter-spacing: 2px;
  margin: 0 20px;
  color: #fff;
}

@media screen and (max-width: 768px) {
  .section .btnbox .btn,
  .section .btnbox .btn2 {
    padding: 1.30208vw 0.65104vw;
  }
}

.section .btnbox .btn span,
.section .btnbox .btn2 span {
  position: relative;
  font-weight: bold;
  font-size: 16px;
  color: #000;
  padding-bottom: 1%;
  border-bottom: 2px #000 solid;
}

@media screen and (max-width: 768px) {
  .section .btnbox .btn span,
  .section .btnbox .btn2 span {
    padding: 1.17188vw 6.51042vw;
    font-size: 4.55729vw;
  }
}

.section .btnbox .btn.on,
.section .btnbox .btn2.on {
  padding: 8px 0px;
  border-radius: 30px;
  background-color: #000;
  color: #fff;
}

@media screen and (max-width: 768px) {
  .section .btnbox .btn.on,
  .section .btnbox .btn2.on {
    padding: 1.04167vw 0vw;
  }
}

.section .btnbox .btn.on span,
.section .btnbox .btn2.on span {
  color: #fff;
  padding: 10px 20px;
}

.section .btnbox .btn:hover,
.section .btnbox .btn2:hover {
  padding: 8px 0px;
  border-radius: 30px;
  background-color: #000;
  color: #fff;
}

@media screen and (max-width: 768px) {
  .section .btnbox .btn:hover,
  .section .btnbox .btn2:hover {
    padding: 1.43229vw 0.39062vw;
  }
}

.section .btnbox .btn:hover span,
.section .btnbox .btn2:hover span {
  color: #fff;
  padding: 10px 20px;
}

.section .btnbox .btn2 {
  padding: 2px 3px;
  margin: 0;
}

.section .btnbox .btn2:hover {
  padding: 3px 4px;
}

.section .btnbox .btn2:hover span {
  font-size: 18px;
  padding: 4px 0;
}

@media screen and (max-width: 768px) {
  .section .btnbox .btn2:hover span {
    font-size: 4vw;
    padding: 3px 0px;
  }
}

.section .btnbox .btn2 span {
  padding: 3px 12px;
  padding-top: 5px;
  display: inline-block;
  width: 100%;
}

@media screen and (max-width: 768px) {
  .section .btnbox .btn2 span {
    font-size: 3.5vw;
    padding: 3px 0px;
  }
}

/* 主要
--------------------------------------------------------------------------------------*/
.movepage {
  height: 100%;
  position: absolute;
  left: 0%;
  top: 0%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 100%;
  margin: auto;
  background-color: transparent;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transform: scale(0);
          transform: scale(0);
  opacity: 0;
  border: 10px solid #333;
}

.section.kv .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
}

.section.kv .main {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  left: 0;
  margin: auto;
}

.section.kv .myname {
  font-size: 100px;
  padding-left: 20px;
  text-shadow: 0 0 1px #000, 1px 1px 1px #000, 2px 2px 1px #000;
  text-align: center;
  position: relative;
  margin-bottom: 100px;
}

.section.kv .mylink {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 50%;
  margin: auto;
  position: relative;
}

.section.kv .mylink .box {
  width: 100%;
  background-color: #000;
  margin: 20px auto;
  border: 5px solid #fff;
  cursor: pointer;
  -webkit-transition: all .5s linear;
  transition: all .5s linear;
  border-radius: 10px 0 10px 0;
  -webkit-box-shadow: 2px 2px 1px #000;
          box-shadow: 2px 2px 1px #000;
}

.section.kv .mylink .box .title {
  color: #fff;
  padding: 50px 0;
  font-size: 40px;
  text-align: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-weight: bold;
  text-shadow: 0 0 1px #000, 1px 1px 1px #000, 2px 2px 1px #000, -1px -1px 1px #000;
}

.section.kv .mylink .box:hover {
  background-color: rgba(0, 0, 0, 0.1);
  border: 5px dashed #fff;
  border-radius: 0 10px 0 10px;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.section.kv .mylink .box:hover .title {
  color: #000;
  opacity: 0.85;
  text-shadow: 0 0 1px #fff, 1px 1px 1px #fff, 2px 2px 1px #fff, -1px -1px 1px #fff;
}

.section.kv .hoverText {
  padding-left: 20px;
  color: #fff;
  font-size: 200px;
  position: absolute;
  -webkit-transition: all 0.25s ease-in;
  transition: all 0.25s ease-in;
  top: -200px;
  opacity: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.section.kv .hoverText.show {
  top: 0;
  opacity: 1;
}

.section.kv .hoverText.big div:nth-child(even) {
  color: #000;
}

.section.kv .hoverText.big div:nth-child(odd) {
  color: #fff;
}

.section.kv .hoverText.small div:nth-child(even) {
  color: #fff;
}

.section.kv .hoverText.small div:nth-child(odd) {
  color: #000;
}

.section.kv .menu {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  height: 100%;
  padding: 10px;
  background-color: #000;
  border-left: 15px dashed #fff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.section._1 .page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.section._1 .page .box {
  width: 25%;
  margin: 0 auto;
  border: 1px solid #000;
}

.section._1 .page .box .title {
  padding: 50px 0;
  font-size: 20px;
  text-align: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-weight: bold;
}

/* lightbox
--------------------------------------------------------------------------------------*/
.lb {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.8);
  z-index: -1;
  opacity: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.lbbox {
  width: 65%;
  max-width: 1200px;
  margin: auto;
  position: relative;
}

@media screen and (max-width: 768px) {
  .lbbox {
    width: 90%;
  }
}

.lbbox .btn_x {
  width: 40px;
  position: absolute;
  top: -50px;
  right: -50px;
  cursor: pointer;
}

@media screen and (max-width: 1366px) {
  .lbbox .btn_x {
    top: 0;
    right: -60px;
  }
}

@media screen and (max-width: 768px) {
  .lbbox .btn_x {
    width: 5.20833vw;
    top: -8vw;
    right: 0;
  }
}

/* loading -----------------------------------------------------------*/
.loading {
  background: #000;
}

@font-face {
  font-family: 'DFHsiuW3-B5';
  src: url("../font/DFHsiu-W3-WIN-BF.woff2") format("woff2"), url("../font/DFHsiu-W3-WIN-BF.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/* ani -----------------------------------------------------------*/
.playani .btn_nav .line span:nth-child(1) {
  -webkit-animation: btnani 0.5s linear forwards;
          animation: btnani 0.5s linear forwards;
}

.playani .btn_nav .line span:nth-child(2) {
  -webkit-animation: btnani 0.5s linear forwards;
          animation: btnani 0.5s linear forwards;
  -webkit-animation-delay: .3s;
          animation-delay: .3s;
}

.playani .btn_nav .line span:nth-child(3) {
  -webkit-animation: btnani2 0.5s linear forwards;
          animation: btnani2 0.5s linear forwards;
  -webkit-animation-delay: .6s;
          animation-delay: .6s;
}

.playani .btn_nav .txt {
  -webkit-animation: btntxt 0.5s 0.5s ease-in-out forwards;
          animation: btntxt 0.5s 0.5s ease-in-out forwards;
}

.playani .sidebar {
  -webkit-animation: sideani 2s ease-in-out forwards;
          animation: sideani 2s ease-in-out forwards;
}
/*# sourceMappingURL=css.css.map */