@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;200;300;400;500;600;700;800;900&display=swap');


//Theinhardt
@font-face {
  font-family: 'Theinhardt';
  src: url('../fonts/Theinhardt-Black.otf') format('opentype');
  font-weight: 900;
  unicode-range: U+0030-0039; /* 0–9 */
}

@font-face {
  font-family: 'Theinhardt';
  src: url('../fonts/Theinhardt-Heavy.otf') format('opentype');
  font-weight: 800;
  unicode-range: U+0030-0039; /* 0–9 */
}

@font-face {
  font-family: 'Theinhardt';
  src: url('../fonts/Theinhardt-Bold.otf') format('opentype');
  font-weight: 700;
  unicode-range: U+0030-0039; /* 0–9 */
}

@font-face {
  font-family: 'Theinhardt';
  src: url('../fonts/Theinhardt-Medium.otf') format('opentype');
  font-weight: 500;
  unicode-range: U+0030-0039; /* 0–9 */
}

@font-face {
  font-family: 'Theinhardt';
  src: url('../fonts/Theinhardt-Regular.otf') format('opentype');
  font-weight: 400;
  unicode-range: U+0030-0039; /* 0–9 */
}

@font-face {
  font-family: 'Theinhardt';
  src: url('../fonts/Theinhardt-Light.otf') format('opentype');
  font-weight: 300;
  unicode-range: U+0030-0039; /* 0–9 */
}

//Klavika
@font-face {
  font-family: 'Klavika';
  src: url('../fonts/Klavika-Bold.otf') format('opentype');
  font-weight: 900;
  unicode-range: U+0041-005A, U+0061-007A; /* A-Z, a-z */
}

@font-face {
  font-family: 'Klavika';
  src: url('../fonts/Klavika-Bold.otf') format('opentype');
  font-weight: 800;
  unicode-range: U+0041-005A, U+0061-007A; /* A-Z, a-z */
}

@font-face {
  font-family: 'Klavika';
  src: url('../fonts/Klavika-Bold.otf') format('opentype');
  font-weight: 700;
  unicode-range: U+0041-005A, U+0061-007A; /* A-Z, a-z */
}

@font-face {
  font-family: 'Klavika';
  src: url('../fonts/Klavika-Medium.otf') format('opentype');
  font-weight: 500;
  unicode-range: U+0041-005A, U+0061-007A; /* A-Z, a-z */
}

@font-face {
  font-family: 'Klavika';
  src: url('../fonts/Klavika-Regular.otf') format('opentype');
  font-weight: 400;
  unicode-range: U+0041-005A, U+0061-007A; /* A-Z, a-z */
}

@font-face {
  font-family: 'Klavika';
  src: url('../fonts/Klavika-Light.otf') format('opentype');
  font-weight: 300;
  unicode-range: U+0041-005A, U+0061-007A; /* A-Z, a-z */
}

