@font-face {
    font-family: 'YahooSans';
    src: url('../font/YahooSans-Bold-02.otf');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'YahooSans-r';
    src: url('../font/YahooSans-Regular-08.otf');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
