@charset "UTF-8";
/* base */
/*==================================================*\
        Mixins
\*==================================================*/
/*** Pseudo Class ***/
/** 
 * div:after{
 *     @include pseudo;
 *     top: -1rem; left: -1rem;
 *     width: 1rem; height: 1rem;
 * }
 */
/*** Media Queries (Mobile First) ***/
/**
* .site-header {
*     padding: 2rem;
*     font-size: 1.8rem;
*
*     @include mq('tablet-wide') {
*         padding-top: 4rem;
*         font-size: 2.4rem;
*     }
* }
*/
/*** Input Placeholder Style ***/
/**
* input,  
* textarea {  
*     @include placeholderStyle {
*         color: $grey;
*     }
* }
*/
/*** Flexbox Setting ***/
/**
*	example:
*	.element {
*      @include setFlex(stretch, space-between);
*	}
*/
/*** Responsive Ratio ***/
/**
* .ifr-wrap{
*     @include responsive-ratio(16,9);
* }
*/
/*** z-index Setting ***/
/**
* example:
* .site-header {
*     z-index: z("lightbox");
* }
*/
/*** Width && Height ***/
/**
*	example:
*	.element {
*      @include wh(100%);
*	}
*/
/*** Full Page Popup ***/
/**
*	example:
*	.element {
*      @include fullPopup();
*	}
*/
/*** Arrow ***/
/**
*  $direction:
*    1: ↑
*    2: →
*    3: ↓
*    4: ←
*	example:
*	.element {
*      @include arrow($bdc: #000000);
*	}
*/
/*** Triangle ***/
/**
*  $direction:
*    1: ↑
*    2: →
*    3: ↓
*    4: ←
*	example:
*	.element {
*      @include artrianglerow($bdc: #000000);
*	}
*/
/*** Text Indent ***/
/**
*  有前綴符號或文字，但又需要文字對齊時使用
*	example:
*	.element {
*      @include textIndent(7px);
*	}
*/
/*
*******************************************************************************************************************************
----------  RESET
*******************************************************************************************************************************
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

:focus {
  outline: 0;
}

ins {
  text-decoration: none;
}

del {
  text-decoration: line-through;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* pc */
/* -------------
    $ scss
------------- */
/* font */
/* color */
/* mixin */
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

/* -------------
    ALL USE
------------- */
img {
  width: 100%;
  display: block;
}

a {
  display: block;
  text-decoration: none;
}

.c {
  clear: both;
}

.table {
  display: table;
}

.tr {
  display: table-row;
}

.th, .td {
  display: table-cell;
  vertical-align: middle;
}

.hide {
  display: none;
}

.ab {
  position: absolute;
}

.clearfix:after {
  content: "";
  display: block;
  clear: both;
}

.float-l {
  float: left;
}

.float-r {
  float: right;
}

._m {
  display: none;
}

@media screen and (max-width: 768px) {
  ._m {
    display: block;
  }
}

@media screen and (max-width: 768px) {
  ._pc {
    display: none;
  }
}

.autoW {
  width: auto;
}

/* vw換算 */
@-webkit-keyframes aniPlay {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 0 100%;
  }
}

@keyframes aniPlay {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 0 100%;
  }
}

@-webkit-keyframes leftar {
  0% {
    right: 12%;
  }
  50% {
    right: 15%;
  }
  100% {
    right: 12%;
  }
}

@keyframes leftar {
  0% {
    right: 12%;
  }
  50% {
    right: 15%;
  }
  100% {
    right: 12%;
  }
}

/* main */
/* BODY,HTML
--------------------------------------------------------------------------------------*/
html,
body {
  width: 100%;
  background: url("../images/background.jpg");
  overflow: hidden;
}

html {
  -webkit-text-size-adjust: 100%;
}

a:focus,
a:visited,
a:active,
span:active {
  background: transparent;
  outline: none;
  outline-offset: none;
}

.intro {
  margin: auto;
  width: 100%;
  display: block;
}

.intro .main_nav {
  width: 100%;
  margin: auto;
  display: block;
}

.intro .main_nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.intro .main_nav ul .btn_p {
  margin: 2%;
  background-color: rgba(0, 0, 0, 0.8);
  width: 60px;
  line-height: 2;
  display: inline-block;
  border-radius: 10px;
  -webkit-transition: all .07s;
  transition: all .07s;
  color: #fff;
  text-align: center;
  font-size: 30px;
  border: 3px #bd1b1b solid;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 12px;
}

.intro .main_nav ul .play {
  border: #000 solid 2px;
  -webkit-box-shadow: #bd1b1b 0px 0px 50px;
          box-shadow: #bd1b1b 0px 0px 50px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transform: scale(1.4);
          transform: scale(1.4);
}

/* loading -----------------------------------------------------------*/
.loading {
  background: #000;
}

@font-face {
  font-family: 'DFHsiuW3-B5';
  src: url("../font/DFHsiu-W3-WIN-BF.woff2") format("woff2"), url("../font/DFHsiu-W3-WIN-BF.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/* ani -----------------------------------------------------------*/
.playani .btn_nav .line span:nth-child(1) {
  -webkit-animation: btnani 0.5s linear forwards;
          animation: btnani 0.5s linear forwards;
}

.playani .btn_nav .line span:nth-child(2) {
  -webkit-animation: btnani 0.5s linear forwards;
          animation: btnani 0.5s linear forwards;
  -webkit-animation-delay: .3s;
          animation-delay: .3s;
}

.playani .btn_nav .line span:nth-child(3) {
  -webkit-animation: btnani2 0.5s linear forwards;
          animation: btnani2 0.5s linear forwards;
  -webkit-animation-delay: .6s;
          animation-delay: .6s;
}

.playani .btn_nav .txt {
  -webkit-animation: btntxt 0.5s 0.5s ease-in-out forwards;
          animation: btntxt 0.5s 0.5s ease-in-out forwards;
}

.playani .sidebar {
  -webkit-animation: sideani 2s ease-in-out forwards;
          animation: sideani 2s ease-in-out forwards;
}
/*# sourceMappingURL=css.css.map */