/* 查詢資料頁
--------------------------------------------------------------------------------------*/

.information{
    .container{
        max-width: 1225px;
    }
    .inner{
        // display: flex;
        // padding-top: 50px;
        padding-bottom: 50px;
        // display: none;
        padding-top: 30px;
        @include media(w1024){
            padding-top: 6vw;
        }
        .flex{
            align-items: center;
            @include media(w1024){
                flex-wrap: wrap;
            }
        }
        .leftbox{
            width: 50.5%;
            @include media(w1024){
                width: 100%;
                display: none;
                // order: 2;
            }
        }
        .rightbox{
            width: 50.5%;
            padding-top: 3vw;
            @include media(w1024){
                // order: 1;
                width: 100%;
                padding-top: 0;
            }
        }
        .phone{
            width: 115%;
            margin: auto;
            margin-left: -18%;
            padding-top: 50px;
            @include media(w1024){
                    width: 75%;
                    padding-top: 5vw;
                    margin-left: 18%;
            }
        }
        .title{
            font-size: 36px;
            color: #000000;
            font-weight: bold;
            padding-bottom: 30px;
            font-family: 'Samsung Sharp Sans';
            @include media(w1024){
                font-size: 6.4vw;
                border-bottom: 0;
                padding-bottom: 3vw;
            }
            .logo{
                width: 254px;
                display: inline;
                vertical-align: middle;
                padding-right: 10px;
                @include media(w1024){
                    width: 47.5vw;
                    padding-left: 1vw;
                }
            }
        }
        .subtitle{
            font-size: 24px;
            color: #000;
            font-weight: bold;
            text-align: center;
            line-height: 1.2;
            @include media(w1024){
                font-size: 4vw;
            }
            .icon{
                width: 25px;
                vertical-align: bottom;
                display: inline-block;
            }
            span{
                font-size: 14px;
                display: block;
                font-weight: normal;
                display: inline-block;
                padding-left:30px;
                @include media(w1024){
                    font-size: 3vw;
                }
            }
            a{
                display: inline;
                color: #456fe1;
                border-bottom: 1px solid #456fe1;
            }
        }
        .form1{
            padding-top: 50px;
            padding-bottom: 30px;
            @include media(w1024){
                padding-top: 9vw;
                padding-bottom: 5vw;
            }
            .item{
                display: flex;
                align-items:center;
                padding-bottom: 20px;
                @include media(w1024){
                    padding-bottom: 3vw;
                }
                dt{
                    font-size: 18px;
                    color: #000;
                    width: 130px;
                    font-weight: normal;
                    @include media(w1024){
                        font-size: 4vw;
                        width: 23.75vw;
                    }
                    &.space{
                        letter-spacing: 5px;
                        @include media(w1024){
                            letter-spacing: 1.2vw;
                        }
                    }
                    font{ letter-spacing: 0;}
                }
                dd{
                    flex: 1;
                    &.flex{
                        display: flex;
                        align-items:stretch;
                    }
                }
                input[type="text"] , input[type="password"]{
                    display: block;
                    border: none;
                    background: #eeeef1;
                    font-size: 18px;
                    color: #000;
                    box-sizing: border-box;
                    padding: 12px 15px;
                    width: 100%;
                    border-radius: 3px;
                    @include media(w1024){
                        font-size: 3.75vw;
                        border-radius: 1vw;
                        padding: 3vw;
                    }
                    &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
                        font-size: 14px;
                        @include media(w1024){
                            font-size: 3.75vw;
                        }
                    }
                    &::-moz-placeholder { /* Firefox 19+ */
                        font-size: 14px;
                        @include media(w1024){
                            font-size: 3.75vw;
                        }
                    }
                    &:-ms-input-placeholder { /* IE 10+ */
                        font-size: 14px;
                        @include media(w1024){
                            font-size: 3.75vw;
                        }
                    }
                    &:-moz-placeholder { /* Firefox 18- */
                        font-size: 14px;
                        @include media(w1024){
                            font-size: 3.75vw;
                        }
                    }
                    &.w1{
                        border-bottom-right-radius: 0;
                        border-top-right-radius: 0;
                        width: 70%;
                        @include media(w1024){
                            width: 55%;
                        }
                    }
                }
                
                &.verification {
                    dd {
                        font-size: 0;
                        >* {
                            display: inline-block;
                            vertical-align: middle;
                        }
                    }
                    input.verificationTxt {
                        width: 64%;
                        @include media(w1024){
                            width: 51%;
                        }
                    }
                    .verificationImg {
                        width: 24%;
                        @include media(w1024){
                            width: 34%;
                        }
                    }
                    .reShow {
                        width: 9%;
                        margin-left: 2%;
                        cursor: pointer;
                        @include media(w1024){
                            width: 12%;
                            margin-left: 3%;
                        }
                    }
                }
                .btn_forget{
                    font-size: 14px;
                    color: #fff;
                    background: #456fe1;
                    text-align: center;
                    width: 30%;
                    box-sizing: border-box;
                    padding-top: 15px;
                    border-bottom-right-radius: 3px;
                    border-top-right-radius: 3px;
                    @include media(w1024){
                        width: 45%;
                        font-size: 3.2vw;
                        padding-top: 3.5vw;
                        border-bottom-right-radius: 1vw;
                        border-top-right-radius: 1vw;
                    }
                    &:hover{
                        filter: brightness(1.2);
                    }
                    font{
                        font-size: 12px;
                        background: #fff;
                        border-radius: 50%;
                        color: #456fe1;
                        padding: 0 5px;
                        font-weight: bold;
                        @include media(w1024){
                            font-size: 3vw;
                            padding: 0 1.2vw;
                        }
                    }
                }
                span{
                    font-size: 14px;
                    color: #000;
                    display: block;
                    padding-top: 1px;
                    @include media(w1024){
                        font-size: 3vw;
                        padding-top: 0;
                    }
                }
            }
        }
        .form2{
            padding-top: 20px;
            @include media(w1024){
                padding-top: 3vw;
            }
            .item{
                display: flex;
                // align-items:center;
                flex-wrap: wrap;
                padding: 28px 0;
                font-size: 18px;
                color: #000;
                border-bottom: 1px dotted #9d9d9d;
                line-height: 1.8;
                align-items:stretch;
                @include media(w1024){
                    font-size: 4vw;
                    padding: 3vw 0;
                    border-bottom: 1px solid #eeeef1;
                    line-height: 1.4;
                }
                .supply {
                    color: #ce081e;
                }
                dt{
                    // width: 25%;
                    width: 150px;
                    align-self: center;
                    font-weight: normal;
                    @include media(w1024){
                        width: 29.5vw;
                    }
                    font{
                        letter-spacing: 0;
                    }
                    &.space1{
                        letter-spacing: 50px;
                    }
                    &.space2{
                        letter-spacing: 5px;
                    }
                    &.full{
                        width: 100%;
                        padding-top: 30px;
                    }
                    &.w1{
                        width: 310px;
                    }
                }
                dd{
                    flex: 1;
                    &.full{
                        width: 100%;
                        flex: auto;
                        padding-top: 30px;
                    }
                    p{
                        font-size: 18px;
                        color: #000;
                    }
                    font{
                        color: #ce081e;
                    }
                }
            }
            .inbtn{
                display: inline-block;
                vertical-align: middle;
                padding: 8px 30px;
                border: 1px solid #cbcbd1;
                margin-left: 30px;
                @include media(w1024){
                    margin-left: 0;
                    padding: 1.2vw 3.5vw;
                }
            }
            span{
                display: inline-block;
                vertical-align: middle;
            }
        }
    }

    /* step 1 */
    .step1{
        // display: flex;
        .title{
            text-align: center;
        }
        .mybtn{
            width: 25%;
            margin: auto;
            @include media(w1024){
                width: 41%;
            }
        }
        .rightbox {
            .title, .subtitle {
                text-align: left;
            }
            .title {
                font-size: 34px;
                @include media(w1024){
                    font-size: 5.4vw;
                }
            }
        }
    }

    /* step 2 */
    .step2{
        // display: flex;
        .title{
            text-align: center;
        }
        .mybtn{
            width: 25%;
            margin: auto;
            @include media(w1024){
                width: 41%;
            }
        }
    }

    /* step 3 */
    .step3{
        .subtitle{
            text-align: left;
            @include media(w1024){
                font-size: 6.25vw;
            }
        }
        .numlist{
            font-size: 16px;
            color: #000;
            line-height: 1.8;
            list-style: decimal;
            padding-left: 20px;
            padding-top: 30px;
            padding-bottom: 100px;
            li{
                list-style: decimal;
            }
            @include media(w1024){
                font-size: 3.75vw;
                padding-top: 8vw;
                line-height: 1.5;
                padding-bottom: 10vw;
            }
            font{
                color: #ce081e;
            }
        }
        .btnbox{
            width: 30%;
            margin: auto;
            padding-bottom: 50px;
            @include media(w1024){
                width: 90%;
                padding-bottom: 0;
            }
            a{
                width: 40%;
                @include media(w1024){
                    width: 45%;
                }
                &:nth-child(1){ float: left;}
                &:nth-child(2){ float: right;}
            }
        }
    }

}
